<%= render_form( resource: resource, assoc: :participantable, 
  # clipboard_prefix: (resource.new_record? ? nil : equipment_url(resource.assetable))
  ) do |form| %> 

  <%= render_form_header( resource: resource, title: form_header_title, description: form_header_description ) %>
  <%= render_form_errors(resource: resource) if resource.errors.size > 0 %>

  <!-- Divider container -->
  <div class="h-full py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">

    <!-- Name -->
    <%= form.text_field( :name, required: true, focus: true, input_css: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md") %>

    <% unless resource.new_record? %>
      <!-- roles -->
      <%= form.combo_field( :roles, parent: parent, type: :multi_list, url: "/roles", items: Role.all ) %>

      <!-- WorkSchedules -->
      <%= form.combo_field( :work_schedules, parent: parent, type: :multi_list, url: "/work_schedules", items: WorkSchedule.all ) %>

    <% end %>
  </div>

  <%= render_form_action_buttons resource: resource, delete_url: resource_url(), deleteable: !resource.new_record? %>
<% end %>

