<%= render_show do %>
  <%= render_show_header title: resource.name, breadcrumbs: @breadcrumbs, tabs: { info_tab: t('.info'), employees_tab: t('.employees') } %>

  <%= render_tab id: "info_tab" do %>
    <%= render_tab_header label: t('.team'), description: t('.team_description') %>
    <%= render_dictionary do %>
      <%= render_dictionary_item label: t('.name'), value: resource.name %>
      <%= render_dictionary_item label: t('.roles'), value: resource.roles.map(&:name).join(',') %>
      <%= render_dictionary_item label: t('.work_schedules'), value: resource.work_schedules.map(&:name).join(',') %>
      <%= render_dictionary_item label: t('.assets'), value: resource.assets.map(&:name).join(',') %>
    <% end %>
  <% end %>

  <%= render_tab id: "employees_tab" do %>
    <%= turbo_stream_from "team_#{resource.id}_employees"  %>
    <%= turbo_frame_tag "employees", loading: "lazy", src: team_employees_url(resource) do %>
      <span class="py-2 px2">
        <%= t('loading') %>
      </span>
    <% end %>
  <% end %>

<% end %>