<%= form_with model: resource, url: resource_url, id: "resource_form", data: { form_sleeve_target: 'form' }, class: "h-full flex flex-col bg-white shadow-xl overflow-y-scroll" do |form| %>

  <div class="flex-1 relative "
    data-controller="form"
    data-action="keydown->form#keydownHandler speicherMessage@window->form#handleMessages"  
    >
    <!-- Header -->
    <%= render_component "resource/form_header", resource: resource, title: form_header_title, description: form_header_description %>

    <!-- Divider container -->
    <div class="h-full py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">


      <!-- Name -->
      <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
        <div>
          <label for="name" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
            <%= t ".name" %>
          </label>
        </div>
        <div class="sm:col-span-2">
          <%= form.text_field :name, 
            required: true, 
            data: { "form-target" => "focus" },
            class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
          <div class="text-sm text-red-800" >
            <%= form.object.errors.where(:name).map( &:full_message).join( "og ") %>
          </div>
        </div>
      </div>

      <!-- Menu_label -->
      <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
        <div>
          <label for="menu_label" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
            <%= t ".menu_label" %>
          </label>
        </div>
        <div class="sm:col-span-2">
          <%= form.text_field :menu_label, required: true, class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
          <div class="text-sm text-red-800" >
            <%= form.object.errors.where(:menu_label).map( &:full_message).join( "og ") %>
          </div>
        </div>
      </div>

      <!-- Index_url -->
      <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
        <div>
          <label for="index_url" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
            <%= t ".index_url" %>
          </label>
        </div>
        <div class="sm:col-span-2">
          <%= form.text_field :index_url, required: true, class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
          <div class="text-sm text-red-800" >
            <%= form.object.errors.where(:index_url).map( &:full_message).join( "og ") %>
          </div>
        </div>
      </div>

      <!-- Service_group -->
      <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
        <div>
          <label for="service_group" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
            <%= t ".service_group" %>
          </label>
        </div>
        <div class="sm:col-span-2">
          <%= form.text_field :service_group, required: false, class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
          <div class="text-sm text-red-800" >
            <%= form.object.errors.where(:service_group).map( &:full_message).join( "og ") %>
          </div>
        </div>
      </div>

      <!-- Service_model -->
      <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
        <div>
          <label for="service_model" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
            <%= t ".service_model" %>
          </label>
        </div>
        <div class="sm:col-span-2">
          <%= form.text_field :service_model, required: false, class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
          <div class="text-sm text-red-800" >
            <%= form.object.errors.where(:service_model).map( &:full_message).join( "og ") %>
          </div>
        </div>
      </div>


      <!-- Menu_icon -->
      <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
        <div>
          <label for="menu_icon" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
            <%= t ".menu_icon" %>
          </label>
        </div>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <%= form.text_area :menu_icon, rows: 3, class: "max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border border-gray-300 rounded-md" %>
          <div class="text-sm text-red-800" >
            <%= form.object.errors.where(:menu_icon).map( &:full_message).join( "og ") %>
          </div>

        </div>
      </div>      

    </div>

    <%= render_component "action_button", resource: resource, delete_url: resource_url(resource), deleteable: true %>

  </div>
  
<% end %>
