<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Menu label:</strong>
    <%= service.menu_label %>
  </p>

  <p>
    <strong>Index url:</strong>
    <%= service.index_url %>
  </p>

  <p>
    <strong>Service model:</strong>
    <%= service.service_model %>
  </p>

  <p>
    <strong>Service group:</strong>
    <%= service.service_group %>
  </p>

  <p>
    <strong>State:</strong>
    <%= service.state %>
  </p>

  <p>
    <strong>Menu icon:</strong>
    <%= service.menu_icon %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= service.deleted_at %>
  </p>

</div>
