<%= form_with model: resource, 
  url: url_for(resource), 
  id: resource_form, 
  data: { form_sleeve_target: 'form' }, 
  enctype: "multipart/form-data",
  class: "h-full flex flex-col bg-white shadow-xl overflow-y-scroll" do |form| %>
  <%= form.hidden_field :user_id %>
  <div class="flex-1 relative "
    data-controller="form"
    data-action="keydown->form#keydownHandler speicherMessage@window->form#handleMessages"    
    >
    <!-- Header -->
    <%= render_component "resource/form_header", resource: resource, title: form_header_title, description: form_header_description %>

    <!-- Divider container -->
    <div class="h-full py-6 ">

      <!-- Avatar -->
      <div class="px-4 pt-8 ">
        <div data-uppy="profile[avatar]">
          <h3 class="text-lg leading-6 font-medium text-gray-900"><%= t(".avatar") %></h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500"><%= t(".avatar_description") %></p>
          <%= render_component "resource/fileupload", resource: resource, form: form, field: :avatar, size: "40x40!" %>           
        </div>
      </div>

      <!--  time_zone -->
      <div class="px-4 pt-8">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900"><%= t(".time_zone") %></h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500"><%= t(".time_zone_description") %></p>
          <div class="pt-6 sm:pt-5">
            <%= render_component "resource/combo", form: form, attr: :time_zone, label: t('.time_zone'), type: :single_drop_search, url: "/time_zones", focus: true %>
          </div>
          <div class="text-sm text-red-800" >
            <%= form.object.errors.where(:supplier_id).map( &:full_message).join( "og ") %>
          </div>
           
        </div>
      </div>


    </div>
  </div>


  <%= render_component "action_button", resource: resource, delete_url: resource_url(resource), deleteable: true %>

<% end %>
