<%= form_with model: resource, 
  url: url_for(resource.assetable), 
  id: resource_form, 
  data: { form_sleeve_target: 'form' }, 
  class: "h-full flex flex-col bg-white shadow-xl overflow-y-scroll" do |form| %>
  <%= form.fields_for :assetable do |employee| %>
    <%= form.hidden_field :account_id, value: current_account.id %>
    <%= form.hidden_field :assetable_type, value: "Employee" %>
    <div class="flex-1 relative "
      data-controller="form"
      data-form-clipboard-prefix-value="<%= pos_employee_url(resource.assetable) unless resource.new_record? %>"
      data-action="keydown->form#keydownHandler speicherMessage@window->form#handleMessages"    
      >
      <!-- Header -->
      <%= render_component "resource/form_header", resource: resource, title: form_header_title, description: form_header_description %>

      <!-- Divider container -->
      <div class="h-full py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">

        <!-- access_token -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="access_token" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t ".access_token" %>
            </label>
          </div>
          <div class="sm:col-span-2 flex">
            <%#= employee.hidden_field :access_token %>
            <%= employee.text_field :access_token, 
              disabled: true, 
              data: { "form-target" => "copytext" },
              class: "disabled w-full shrink shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <button class="grow ml-1" type="button" data-action="form#copy_text" >
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z"></path>
              </svg>            
            </button>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:access_token).map( &:full_message).join( "og ") %>
            </div>
          </div>
          <div class="col-start-2">
            <% unless resource.new_record? %>
                <!-- insert your custom barcode setting your data in the GET parameter "data" -->
                <%= svg_qr_code_link access_token_for(employee.object) %>
            <% end %>
          </div>

        </div>

        <!-- Name -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="name" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t ".name" %>
            </label>
          </div>
          <div class="sm:col-span-2">
            <%= form.text_field :name, 
              required: true, 
              data: { "form-target" => "focus" },
              class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:name).map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>

        <!-- mug_shot -->
        <div class="px-4 pt-8 ">
          <div >
            <h3 class="text-lg leading-6 font-medium text-gray-900"><%= t(".mug_shot") %></h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500"><%= t(".mug_shot_description") %></p>
            <%= render_component "resource/fileupload", url: employee_mugshot(employee.object,"40x40!"), form: employee, field: :mug_shot %>           
          </div>
        </div>

        <!-- hired_at --> 
        <%= render_component "resource/input_date", form: employee, field: :hired_at, resource: resource, title: t('.hired_at'), required: true %>

        <!-- state -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="state" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t ".state" %>
            </label>
          </div>
          <div class="sm:col-span-2 flex">
            <%= display_employee_state form.object %>
          </div>
        </div>

        <!-- birthday -->
        <%= render_component "resource/input_date", form: employee, field: :birthday, resource: resource, title: t('.birthday'), required: true %>

        <!-- pin_code -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="pin_code" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t ".pin_code" %>
            </label>
          </div>
          <div class="sm:col-span-2 flex">
            <%= employee.text_field :pin_code %>
          </div>
        </div>

        <!-- pbx_extension -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="pbx_extension" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t ".pbx_extension" %>
            </label>
          </div>
          <div class="sm:col-span-2 flex">
            <%= employee.text_field :pbx_extension %>
          </div>
        </div>

        <!-- job_title -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="job_title" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t ".job_title" %>
            </label>
          </div>
          <div class="sm:col-span-2 flex">
            <%= employee.text_field :job_title %>
          </div>
        </div>

        <!-- base_salary -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="base_salary" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t ".base_salary" %>
            </label>
          </div>
          <div class="sm:col-span-2 flex">
            <%= employee.text_field :base_salary %>
          </div>
        </div>

        <!-- norm_time -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="norm_time" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t ".norm_time" %>
            </label>
          </div>
          <div class="sm:col-span-2 flex">
            <%= employee.number_field :norm_time %>
          </div>
        </div>


        <!-- Teams -->
        <%= render_component "resource/combo", form: form, attr: :teams, label: t('.teams'), type: :multi_list, url: "/teams", items: Team.all %>

        <!-- WorkSchedules -->
        <%= render_component "resource/combo", form: form, attr: :work_schedules, label: t('.work_schedules'), type: :multi_list, url: "/work_schedules", items: WorkSchedule.all do |c| %>
          <% c.with_footer do %>
            <%= raw t '.team_work_schedules', ws: show_team_work_schedules( resource ) %>
          <% end %>

        <% end %>

        <!--  Pupils -->
        <div class="px-4 divide-y divide-gray-200 pt-8 space-y-6 sm:pt-10 sm:space-y-5">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900"><%= t(".pupils_title") %></h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500"><%= t(".pupils_description") %></p>
          </div>
          <div class="space-y-6 sm:space-y-5 divide-y divide-gray-200">
            <div class="pt-6 sm:pt-5">
              <% Pupil.all.pluck(:location).uniq.each do |location_group| %>
                <div role="group" aria-labelledby="label-email">
                  <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
                    <div>
                      <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-email"><%= t(".#{location_group}") %></div>
                    </div>
                    <div class="mt-4 sm:mt-0 sm:col-span-2">
                      <div class="max-w-lg space-y-4">
                        <% Pupil.where(location: location_group).each do |pupil| %>
                            <%= render_component "pupil", pupil: pupil, checked: employee.object.pupils.pluck(:name).include?( pupil.name ) %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  <% end %>


  <%= render_component "action_button", resource: resource, delete_url: resource_url(resource.assetable), deleteable: !resource.new_record? %>

<% end %>
