<div 
  class="max-w-full lg:max-w-screen-2xl mx-auto sm:px-6 lg:px-8" 
  data-controller="tabs"  
  data-tabs-active-tab="border-indigo-500 text-indigo-600" 
  >
  <%= render_component "resource/show_header", 
      title: resource.name, 
      breadcrumbs: @breadcrumbs, 
      current: Current, 
      tabs: [ 
        {id: "info_tab", url: "#info", label: t('.info'), action: "click->tabs#change" },
        # {id: "calendar_tab", url: edit_employee_calendar_url(resource,resource.calendar), label: t('.calendar'), action: "click->tabs#change" },
        {id: "awt_tab", url: employee_asset_work_transactions_url(resource), label: t('.asset_work_transactions'), action: "click->tabs#change" },
        {id: "pupils_tab", url: employee_pupils_url(resource), label: t('.pupils'), action: "click->tabs#change" }
      ] %>

  <div id="info_tab" class="hidden py-4 px-4 " data-tabs-target="panel">

    <%= render_component "element/search_and_button" %>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900"><%= t '.employee' %></h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500"><%= t '.employee.description' %></p>
      </div>
      <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.name' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= resource.name %></dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.pupils_count' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= resource.pupils.count %></dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.created_at' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= display_time resource.created_at, Current.user %> </dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.updated_at' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= display_time resource.updated_at, Current.user %> </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <!--
  <div id="calendar_tab" class="hidden shadow overflow-hidden border-b border-gray-200 sm:rounded-lg" data-tabs-target="panel">
    <%= turbo_stream_from resource_form(resource.calendar)  %>
    <%= turbo_frame_tag resource_form(resource.calendar), loading: "lazy", src: edit_employee_calendar_url(resource,resource.calendar) do %>
      <span class="py-2 px2">
        <%= t('loading') %>
      </span>

    <% end %>

  </div>
  -->

  
  <div id="awt_tab" class="hidden shadow overflow-hidden border-b border-gray-200 sm:rounded-lg" data-tabs-target="panel">
    <%= turbo_stream_from "asset_work_transactions"  %>
    <%= turbo_frame_tag "asset_work_transactions", loading: "lazy", src: employee_asset_work_transactions_url(resource) do %>
      <span class="py-2 px2">
        <%= t('loading') %>
      </span>

    <% end %>
  </div>
  

  <div id="pupils_tab" class="hidden shadow overflow-hidden border-b border-gray-200 sm:rounded-lg" data-tabs-target="panel">
    <%= turbo_stream_from "pupils"  %>
    <%= turbo_frame_tag "pupils", loading: "lazy", src: employee_pupils_url(resource) do %>
      <span class="py-2 px2">
        <%= t('loading') %>
      </span>

    <% end %>

  </div>

</div>




