<div 
  class="max-w-full lg:max-w-screen-2xl mx-auto sm:px-6 lg:px-8" 
  data-controller="tabs"  
  data-tabs-active-tab="border-indigo-500 text-indigo-600" 
  >
  <%= render_component "resource/show_header", 
      title: resource.name, 
      breadcrumbs: @breadcrumbs, 
      current: Current, 
      tabs: [ 
        {id: "info_tab", url: "#info_tab", label: t('.info'), action: "click->tabs#change" },
        # {id: "calendar_tab", url: edit_employee_calendar_url(resource,resource.calendar), label: t('.calendar'), action: "click->tabs#change" },
        {id: "awt_tab", url: employee_asset_work_transactions_url(resource), label: t('.asset_work_transactions'), action: "click->tabs#change" },
        {id: "awds_tab", url: employee_asset_workday_sums_url(resource), label: t('.asset_workday_sums'), action: "click->tabs#change" },
        {id: "pupils_tab", url: employee_pupils_url(resource), label: t('.pupils'), action: "click->tabs#change" }
      ] %>


  <%= render_tab id: "info_tab" do %>
    <%= render_tab_header label: t('.employee'), description: t('.employee_description') %>
    <%= render_dictionary do %>
      <%= render_dictionary_item label: t('.name'), value: resource.name %>
      <%= render_dictionary_item label: t('.pupils_count'), value: resource.pupils.count %>
      <%= render_dictionary_item label: t('.teams'), value: resource.teams.map(&:name).join(',') %>
      <%= render_dictionary_item label: t('.created_at'), value: display_time( resource.created_at, Current.user) %>
      <%= render_dictionary_item label: t('.updated_at'), value: display_time( resource.updated_at, Current.user) %>
    <% end %>
  <% end %>

  <!--
  <div id="calendar_tab" class="hidden shadow overflow-hidden border-b border-gray-200 sm:rounded-lg" data-tabs-target="panel">
    <%= turbo_stream_from resource_form(resource.calendar)  %>
    <%= turbo_frame_tag resource_form(resource.calendar), loading: "lazy", src: edit_employee_calendar_url(resource,resource.calendar) do %>
      <span class="py-2 px2">
        <%= t('loading') %>
      </span>

    <% end %>

  </div>
  -->

  
  <div id="awt_tab" class="hidden shadow overflow-hidden border-b border-gray-200 sm:rounded-lg" data-tabs-target="panel">
    <%= turbo_stream_from "asset_work_transactions"  %>
    <%= turbo_frame_tag "asset_work_transactions", loading: "lazy", src: employee_asset_work_transactions_url(resource) do %>
      <span class="py-2 px2">
        <%= t('loading') %>
      </span>

    <% end %>
  </div>
  
  
  <div id="awds_tab" class="hidden shadow overflow-hidden overflow-x-auto border-b border-gray-200 sm:rounded-lg" data-tabs-target="panel">
    <%= turbo_stream_from "asset_workday_sums"  %>
    <%= turbo_frame_tag "asset_workday_sums", loading: "lazy", src: employee_asset_workday_sums_url(resource) do %>
      <span class="py-2 px2">
        <%= t('loading') %>
      </span>

    <% end %>
  </div>
  

  <div id="pupils_tab" class="hidden shadow overflow-hidden border-b border-gray-200 sm:rounded-lg" data-tabs-target="panel">
    <%= turbo_stream_from "pupils"  %>
    <%= turbo_frame_tag "pupils", loading: "lazy", src: employee_pupils_url(resource) do %>
      <span class="py-2 px2">
        <%= t('loading') %>
      </span>

    <% end %>

  </div>

</div>




