<%= form_with model: resource, url: resource_url(), id: resource_form, data: { form_sleeve_target: 'form' }, class: "h-full flex flex-col bg-white shadow-xl overflow-y-scroll" do |form| %>
  <div class="flex-1 relative "
    data-controller="form"
    data-form-form-sleeve-outlet="#form-sleeve"
    data-form-list-outlet="#list"

    data-action="keydown->form#keydownHandler speicherMessage@window->form#handleMessages"    
    >
    <!-- Header -->
    <%= render_component "resource/form_header", resource: resource, title: form_header_title, description: form_header_description %>

    <!-- Divider container -->
    <div class="h-full py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">

      <!-- scheme -->
      <%= render_component "resource/input_string", form: form, field: :scheme, resource: resource, title: t('.scheme'), focus: true, required: true %>

      <!-- purpose -->
      <%= render_component "resource/input_string", form: form, field: :purpose, resource: resource, title: t('.purpose') %>

      <!-- reference -->
      <%= render_component "resource/input_string", form: form, field: :reference, resource: resource, title: t('.reference'), required: false %>

      <!-- general_format -->
      <%= render_component "resource/input_string", form: form, field: :general_format, resource: resource, title: t('.general_format'), required: false %>

      <!-- notes -->
      <%= render_component "resource/input_text", form: form, field: :notes, resource: resource, title: t('.notes'), required: false %>

      <!-- state -->
      <%= render_component "resource/input_string", form: form, field: :state, resource: resource, title: t('.state'), required: false %>


    </div>
  </div>

  <%= render_component "action_button", resource: resource, delete_url: resource_url(), deleteable: !resource.new_record? %>

<% end %>

