<%# 

https://en.wikipedia.org/wiki/Uniform_Resource_Identifier 

https://en.wikipedia.org/wiki/Address



scheme;purpose;state;reference;general_format;notes
"aaa aaas";Diameter Protocol;Permanent;"RFC 3588 RFC 6733";"aaa[s]://<host>[:<port>][;transport=<transport>][;protocol=<protocol>] example:aaa://host.example.com:1813;transport=udp;protocol=radius";
about;Displaying product information and internal information;Permanent;RFC 6694;See about URI scheme for more details.;Widely used by web browsers, sometimes even providing interactive resources. Individual vendors modify this scheme: for instance, the Opera web browser forwards to their opera: scheme instead and Chrome uses chrome:.
acap;Application Configuration Access Protocol;Permanent;RFC 2244;"acap://[<user>[;AUTH=<type>]@]<host>[:<port>]/<entry>";"URL scheme used within the ACAP protocol for the ""subdataset"" attribute, referrals and inheritance"
acct;Identifying user account;Permanent;RFC 7565;;
acr;Anonymous Customer Reference;Provisional;"IANA registration template Open Mobile Alliance";;
adiumxtra;Direct installation of Adium Xtras (plugins).;Provisional;"IANA registration template The Adium Team";adiumxtra://www.adiumxtras.com/download/0000;0000 refers to a specific Xtra
afp;Accessing Apple Filing Protocol shares;Provisional;"IANA registration template IETF Draft";"over TCP/IP afp://[<user>@]<host>[:<port>][/[<path>]] over AppleTalk afp:/at/[<user>@]<host>[:<zone>][/]";
afs;Andrew File System global file names;Provisional;RFC 1738;;
aim;Controlling AOL Instant Messenger.;Provisional;"IANA registration template AOL";aim:<function>?<parameters>;Functions include goim, addbuddy, and buddyicon.
apt;Experimental method of installing software using APT.;Provisional;IANA registration template;apt:<package name>;Commonly found on websites which contain Debian software repositories.
attachment;Attaching resources to MHTML pages;Provisional;IANA registration template;attachment:/<resource number>/<filename>;Opera-specific
aw;Link to an Active Worlds world;Provisional;"IANA registration template Activeworlds Inc.";aw://<worldserver host>:<worldserver port>/<worldname>;Mostly found in HTTP referers when users open a website from within an Active Worlds world.
amss;Identifier for an AMSS broadcast;Provisional;ETSI TS 103 270;amss:<sid>;
barion;Send e-money to a Barion e-money wallet;Provisional;"IANA registration template Barion URI scheme";barion:<target>[?[amount=<amount>][&][currency=<currency>][&][comment=<comment>][&][sender=<sender>][&][type=purchase|charity|p2p]];Used by Barion mobile apps.
beshare;Open a search query on a BeShare server;Provisional;"IANA registration template BeShare source code";beshare://<servername>/<query>;Mostly used internally, with variants.
bitcoin;Send money to a Bitcoin address;Provisional;"IANA registration template Bitcoin URI Scheme";bitcoin:<address>[?[amount=<size>][&][label=<label>][&][message=<message>]];
blob;Binary data access in browsers;Provisional;"IANA registration template W3C";;
bolo;Join an existing bolo game.;Provisional;IANA registration template;bolo://<hostname>/;Mostly passed via IRC or via tracker servers.
callto;Launching Skype call (see also skype:);Provisional;"IANA registration template old version of IETF Draft";"callto:<screenname> or
callto:<phonenumber> [1]";Introduced with Microsoft NetMeeting. Works with current version of Skype with Internet Explorer, Opera and Safari
cap;Calendar access protocol;Permanent;RFC 4324;generic syntax;URL scheme used to designate both calendar stores and calendars accessible using the CAP protocol
chrome;Specifies user interfaces built using XUL in Mozilla-based browsers.;Provisional;"IANA registration template Mozilla";"chrome://<package>/<section>/<path> (Where <section> is either ""content"", ""skin"" or ""locale"")";Works only in Mozilla-based browsers such as Firefox, SeaMonkey and Netscape. Not related to the Google Chrome browser.
chrome;Used for the management of Google Chrome's settings. In contrast with other browsers, its preferences appear as web-pages instead of dialog boxes.;Provisional;"IANA registration template Google";chrome://<settings>/<path>/[<specificSetting>];Works only in Google Chrome and Chromium.
chrome-extension;Manage the settings of extensions which have been installed.;Provisional;"IANA registration template Google";"chrome-extension://<extensionID>/<pageName>.html (Where <extensionID> is the ID given to the extension by ""Chrome Web Store"" and <pageName> is the location of an HTML page)";Works only in Google Chrome and Chromium.
com-eventbrite-attendee;;Provisional;IANA registration template;;
cid;Referencing individual parts of an SMTP/MIME message;Permanent;"RFC 2111 RFC 2392";cid:<content-id>;e.g. referencing an attached image within a formatted e-mail. (See also mid:)
"coap coaps";Constrained Application Protocol;Permanent;RFC 7252;coap[s]://<host>[:<port>]/<path>[?<query>];Identify CoAP resources and provide a means of locating the resource.
content;Accessing an Android content provider.;Provisional;"IANA registration template Open Handset Alliance";content://provider/<path>;Performs a query on an Android Content Provider
crid;TV-Anytime Content Reference Identifier;Permanent;RFC 4078;crid://<host>/<data>;Allow references to scheduled publications of broadcast media content.
cvs;Provides a link to a Concurrent Versions System (CVS) Repository;Provisional;"IANA registration template Concurrent Versions System";"cvs://<method:logindetails>@<repository>/<modulepath>;[date=date to retrieve | tag=tag to retrieve]";
dab;Identifier for a DAB broadcast;Provisional;ETSI TS 103 270;dab:<gcc>.<eid>.<sid>.<scids>[.<uatype>];
data;Inclusion of small data items inline;Permanent;RFC 2397;"data:<mediatype>[;base64],<data>";
dav;HTTP Extensions for Distributed Authoring (WebDAV);Permanent;"RFC 2518 RFC 4918";dav:;"Used for internal identifiers only; WebDAV itself addresses resources using the http: and https: schemes. [2]"
dict;Dictionary service protocol;Permanent;RFC 2229;"dict://<user>;<auth>@<host>:<port>/d:<word>:<database>:<n> dict://<user>;<auth>@<host>:<port>/m:<word>:<database>:<strat>:<n>";refer to definitions or word lists available using the DICT protocol 
"dlna-playsingle dlna-playcontainer";;Provisional;IANA registration template IANA registration template;;
dns;Domain Name System;Permanent;RFC 4501;"dns:[//<host>[:<port>]/]<dnsname>[?<dnsquery>] examples:dns:example?TYPE=A;CLASS=INdns://192.168.1.1/ftp.example.org?type=A";designates a DNS resource record set, referenced by domain name, class, type, and, optionally, the authority
dntp;Direct Network Transfer Protocol;Provisional;IANA registration template;;
doi;Digital object identifier, a digital identifier for any object of intellectual property.;Provisional;IETF Draft;"doi:10.<publisher number>/<suffix> example: doi:10.1000/182";"Used e.g. for most scientific publications. Can be resolved via HTTP (transformed into a URL) by prepending https://doi.org/ or http://hdl.handle.net/ in front."
drm;Identifier for a DRM broadcast;Provisional;ETSI TS 103 270;drm:<sid>[.<appdomain>.<uatype>];
dtn;DTNRG research and development;Provisional;RFC 5050;;
dvb;;Provisional;IETF Draft;;
ed2k;Resources available using the eDonkey2000 network;Provisional;"IANA registration template eDonkey2000";"ed2k://|file|<filename>|<size of file>|<hash of file>|/ or ed2k://|server|<host>|<port>|/";Links to servers are also possible, as are additional parameters. Official documentation from eDonkey2000 website at the Wayback Machine (archive index)
example;For examples;Permanent;RFC 7595;example:<anything>;
facetime;FaceTime is a video conferencing software developed by Apple for iPhone 4, the fourth generation iPod Touch, and computers running Mac OS X.;Provisional;"IANA registration template Apple Inc.";"facetime://<address>|<MSISDN>|<mobile number> example:facetime://+19995551234";Apple has not published documentation on this protocol yet.
fax;Used for telefacsimile numbers;Historical;"RFC 2806 RFC 3966";fax:<phonenumber>;Deprecated in RFC 3966 in favour of tel:.
feed;web feed subscription;Provisional;IANA registration template;"feed:<absolute_uri> or feed://<hierarchical part> examples:feed://example.com/rss.xmlfeed:https://example.com/rss.xml";See Feed URI scheme for a detailed overview of common implementations, supported software, and critics.
file;Addressing files on local or network file systems;Permanent;"RFC 1738 RFC 3986 RFC 8089";"file://[host]/path or (RFC 3986) file:[//host]/path";Since this is usually used for local files the host from RFC 1738 is often empty leading to a starting triple /. RFC 3986 allows an absolute path with no host part.
filesystem;Abandoned part of File API;Historical;IANA registration template;;
finger;Querying user information using the Finger protocol;Provisional;"IANA registration template IETF Draft";finger://host[:port][/<request>];
fish;Accessing another computer's files using the SSH protocol;Provisional;"IANA registration template fish KDE kioslave";fish://[<username>[:<password>]@]<hostname>[:<port>];See Files transferred over shell protocol for details about the protocol.
fm;Identifier for an FM broadcast;Provisional;ETSI TS 103 270;fm:<gcc>.<pi>.<frequency>;
ftp;FTP resources;Permanent;"RFC 1738 IETF Draft Old IETF Draft";generic syntax;
gemini;Used with the Gemini protocol;Provisional;Provisional specification;generic syntax but without the userinfo subcomponent;
geo;A Uniform Resource Identifier for Geographic Locations;Permanent;RFC 5870;"geo:<lat>,<lon>[,<alt>][;u=<uncertainty>] (for WGS-84)";Other coordinate reference systems (including those for non-terrestrial globes, such as The Moon and Mars) will be supported, once registered.
gg;Starting chat with Gadu-Gadu user;Provisional;"IANA registration template Gadu-Gadu";gg:<userid>;
git;Provides a link to a GIT repository;Provisional;"IANA registration template Git";GitHub example: git://github.com/user/project-name.git;
gizmoproject;Gizmo5 calling link.;Provisional;IANA registration template;gizmoproject://call?id=<gizmo_id>;May use sip:// instead of gizmoproject:// in recent versions of Gizmo5.
go;Common Name Resolution Protocol;Permanent;RFC 3368;"go://[<host>]?[<common-name>]*[;<attribute>=[<type>,]<value>] or go:<common-name>*[;<attribute>=[<type>,]<value>]";
gopher;Used with Gopher protocol;Permanent;RFC 4266;gopher://<host>:<port>/<item type><path>;
gtalk;Start a chat with a Google Talk user;Provisional;"IANA registration template Google Talk";gtalk:chat?jid=example@gmail.com;See Google Talk, XMPP, and http://juberti.blogspot.com/2006/11/gtalk-uri.html for more information
h323;Used with H.323 multimedia communications;Permanent;RFC 3508;"h323:[<user>@]<host>[:<port>][;<parameters>]";
hcp;Displaying a help page on Microsoft Windows Help and Support Center.;Provisional;"IANA registration template Microsoft";hcp://system/<File>.htm (Where <File> is the file to load);Works only on Windows XP. Later replaced by ms-help:.
http;HTTP resources;Permanent;"RFC 1738 RFC 2616 (makes RFC 2068 obsolete) RFC 7230";generic syntax;
https;HTTP connections secured using SSL/TLS;Permanent;"RFC 2817 RFC 7230";generic syntax;
iax;Inter-Asterisk eXchange protocol version 2;Permanent;RFC 5456;"iax:[<username>@]<host>[:<port>][/<number>[?<context>]] examples iax:[2001:db8::1]:4569/alice?friends iax:johnQ@example.com/12022561414";
icap;Internet Content Adaptation Protocol;Permanent;RFC 3507;;
icon;;Provisional;IETF Draft;;
im;Instant messaging protocol;Permanent;RFC 3860;im:<username>@<host>, and also im:sip:<username>@<host> for MS Communicator launching;Works as xmpp: URI for single user chat sessions.
imap;Accessing e-mail resources through IMAP;Permanent;"RFC 2192 RFC 5092";"imap://[<user>[;AUTH=<type>]@]<host>[:<port>]/<command>";
info;Information Assets with Identifiers in Public Namespaces;Permanent;RFC 4452;;
iotdisco;Identify things on Internet of Things;Provisional;IANA registration template;;
ipn;;Provisional;RFC 6260;;
ipp;Internet Printing Protocol;Permanent;RFC 3510;;
ipps;Internet Printing Protocol over HTTPS;Permanent;RFC 7472;;
irc;Connecting to an Internet Relay Chat server to join a channel.;Provisional;"IANA registration template IETF Draft Old IETF Draft";irc://<host>[:<port>]/[<channel>[?<password>]];"Assuming the client knows a server associated with the name, ""host"" may optionally be an IRC network name."
irc6;IPv6 equivalent of irc;Provisional;IANA registration template;irc6://<host>[:<port>]/[<channel>[?<password>]];See irc ircs;Secure equivalent of irc;Provisional;"IANA registration template IETF Draft";ircs://<host>[:<port>]/[<channel>[?<password>]];See irc
"iris iris.beep iris.xpc iris.xpcs iris.lws";Internet Registry Information Service;Permanent;RFC 3981 RFC 3983 RFC 4992 RFC 4992 RFC 4993;;
itms;Used for connecting to the iTunes Music Store;Provisional;"IANA registration template Apple Inc";itms:;
jabber;;Permanent;IANA registration template;;
jar;Compressed archive member;Provisional;"IANA registration template Java API";jar:<url>!/[<entry>];Works for any ZIP based file.
jms;Java Message Service;Provisional;RFC 6167;;
keyparc;Keyparc encrypt/decrypt resource.;Provisional;"IANA registration template Bloombase";"keyparc://encrypt/<username>/<uri> or keyparc://decrypt/<username>/<uri>";
lastfm;Connecting to a radio stream from Last.fm.;Provisional;"IANA registration template Last.fm";"lastfm://<radio_stream> or lastfm://globaltags/<genre> or lastfm://user/<username>/<stuff>";
ldap;LDAP directory request;Permanent;"RFC 2255 RFC 4516";"ldap://[<host>[:<port>]][/<dn> [?[<attributes>][?[<scope>][?[<filter>][?<extensions>]]]]] example:ldap://ldap1.example.net:6666/o=University%20of%20Michigan, c=US??sub?(cn=Babs%20Jensen)";
ldaps;Secure equivalent of ldap;Provisional;"IANA registration template Old version of IETF Draft";ldaps://[<host>[:<port>]][/<dn> [?[<attributes>][?[<scope>][?[<filter>][?<extensions>]]]]];Not an IETF standard, but commonly used in applications.
magnet;"""magnet links""";Provisional;"IANA registration template Magnet-URI Project";"magnet:?xt=urn:sha1:<hash of file>&dn=<display name> (other parameters are also possible)";Used by various peer-to-peer clients, usually providing the hash of a file to be located on the network.
mailserver;Access to data available from mail servers;Historical;RFC 6196;;
mailto;SMTP e-mail addresses and default content;Permanent;RFC 6068;"mailto:<address>[?<header1>=<value1>[&<header2>=<value2>]] example:mailto:jsmith@example.com?subject=A%20Test&body=My%20idea%20is%3A%20%0A";"Headers are optional, but often include subject=; body= can be used to pre-fill the body of the message."
maps;"""map links""";Provisional;IANA registration template;maps:q=<physical location>;"Some mobile web browsers will launch a dedicated mapping application. See also ""geo:"" (RFC 5870)"
market;Opens Google Play;Provisional;"IANA registration template Android [3]";"market://details?id=Package_name or market://search?q=Search_Query or market://search?q=pub:Publisher_Name";Supported by Android devices
message;Direct link to specific email message;Provisional;"IANA registration template Apple Inc [4]";"message:<MESSAGE-ID> message://<MESSAGE-ID>";Supported by Mail since OS X 10.5
mid;Referencing SMTP/MIME messages, or parts of messages.;Permanent;"RFC 2111 RFC 2392";mid:<message-id>[/<content-id>];(See also cid:)
mms;Windows streaming media;Provisional;"IANA registration template Microsoft";mms://<host>:<port>/<path>;Used by Windows Media Player to stream audio and/or video.
modem;;Historical;"RFC 2806 RFC 3966";;Deprecated in RFC 3966 in favour of tel:.
ms-help;Displaying a help page on Microsoft Windows Help and Support Center. Used by Windows Vista and later.;Provisional;"IANA registration template Microsoft";"ms-help://<section>/<path>/<file>.htm (Where <section> is a library of help files – the name of the library begins with ""MS."", <path> is the sub-libraries, and <file> is the name of the file)";Works only on Windows Vista and later.
"ms-settings ms-settings-airplanemodems-settings-bluetoothms-settings-camerams-settings-cellularms-settings-cloudstoragems-settings-emailandaccountsms-settings-languagems-settings-locationms-settings-lockms-settings-nfctransactionsms-settings-notificationsms-settings-powerms-settings-privacyms-settings-proximityms-settings-screenrotationms-settings-wifims-settings-workplace";Settings application in Windows;Provisional;IANA registration templates;;
msnim;Adding a contact, or starting a conversation in Windows Live Messenger;Provisional;"IANA registration template Windows Live Messenger";"Add a contact to the buddy list msnim:add?contact=nada@example.comStart a conversation with a contactmsnim:chat?contact=nada@example.comStart a voice conversation with a contactmsnim:voice?contact=nada@example.comStart a video conversation with a contactmsnim:video?contact=nada@example.com";"Can be invoked from a web page or via a run command or an Internet Explorer browser URL (won't work with Firefox 2.0.0.8). For web pages use this HTML: <a href=""chat?contact=nada@example.com"">Click to chat!</a>"
"msrp msrps";Message Session Relay Protocol;Permanent;RFC 4975;;
mtqp;Message Tracking Query Protocol;Permanent;RFC 3887;;
mumble;Joining a server.;Provisional;"IANA registration template Mumble";mumble://[username[:password]@]<address>[:port]/[channelpath]?version=<serverversion>[&title=<servername>][&url=<serverurl>];Official documentation from Mumble website
mupdate;Mailbox Update Protocol;Permanent;RFC 3656;;
mvn;Access Apache Maven repository artifacts;Provisional;"IANA registration template OPS4J";"mvn:org.ops4j.pax.web.bundles/service/0.2.0-SNAPSHOT mvn:http://user:password@repository.ops4j.org/maven2!org.ops4j.pax.web.bundles/service/0.2.0";
news;(Usenet) newsgroups and postings;Permanent;"RFC 1738 RFC 5538";"news:<newsgroupname> or news:<message-id>";References a particular resource, regardless of location. nfs;Network File System resources;Permanent;RFC 2224;generic syntax;
"ni nih";Naming Things with Hashes;Permanent;RFC 6920;"ni://<authority>/<algorithm>;<hash-value>?<tag1>=<value1>&<tag2>=<value2>";Identify a digital object using the output from a hash function
nntp;Usenet NNTP;Permanent;"RFC 1738 RFC 5538";nntp://<host>:<port>/<newsgroup-name>/<article-number>;Referencing a specific host is often less useful than referencing the resource generically, as NNTP servers are not always publicly accessible
notes;Open a Lotus Notes document or database;Provisional;"IANA registration template Lotus Notes";notes://<address>;Used by IBM Lotus Notes to refer to documents and databases stored within the Lotus Notes system. When clicked in a browser on a computer with Lotus Notes client installed, Notes will open the document link as if a Notes DocLink were clicked within Notes.
oid;;Provisional;IANA registration template IETF Draft;;
opaquelocktoken;;Permanent;"RFC 2518 RFC 4918";;
openpgp4fpr;Used to identify OpenPGP version 4 public keys.;Provisional;IANA registration template Metacode;openpgp4fpr:<fingerprint>;
pack;;Historical;IANA registration template IETF Draft;;
palm;Used to designate system services in HP webOS applications;Provisional;"IANA registration template HP webOS";palm:<servicename>[/<method>]]/;Official documentation from HP webOS Services Overview
paparazzi;"Used to launch and automatically take a screen shot using the application ""Paparazzi!"" (Mac only)";Provisional;"IANA registration template Derailer";paparazzi:[<options>]http:[//<host>[:[<port>][<transport>]]/;Official documentation from the Paparazzi! website
payto;Designate target for payments;Provisional;RFC 8905;"payto://<authority>/<receiver>[?<options>] examples:payto://iban/DE75512108001245126199?amount=EUR:200.0&message=hellopayto://bic/SOGEDEFFXXXpayto://void/?amount=EUR:10.5";
pkcs11;PKCS #11;Permanent;RFC 7512;;
platform;Access to Eclipse platform resources.;Provisional;"IANA registration template Eclipse platform scheme documentation";platform:/(resource|plugin|fragment|meta|config|base)/...;Registered with java.net.URL when launching with the org.eclipse.core.filesystem bundle, and heavily leveraged by org.eclipse.emf.common.util.URI.
pop;Accessing mailbox through POP3;Permanent;RFC 2384;"pop://[<user>[;AUTH=<auth>]@]<host>[:<port>]";
pres;Used in Common Profile for Presence (CPP) to identify presence;Permanent;RFC 3859;pres:<address>[?<header1>=<value1>[&<header2>=<value2>]];"Similar to ""mailto:"""
prospero;Prospero Directory Service;Historical;"RFC 1738 RFC 4157";;
proxy;Alter proxy settings in the FoxyProxy application;Provisional;"IANA registration template FoxyProxy";proxy:<option>=<value>[&<option>=<value>[&...]];Official documentation from FoxyProxy website
psyc;Used to identify or locate a person, group, place or a service and specify its ability to communicate;Provisional;"IANA registration template PSYC";psyc:[//<host>[:[<port>][<transport>]]/[<object-name>][#<channel-name>];Official documentation from PSYC website
query;Opens a filesystem query;Provisional;"IANA registration template Haiku";query:<queryformula>;Implemented by the url_wrapper application
"redis rediss";Redis database;Provisional;"IANA registration template IANA registration template";;
reload;REsource LOcation And Discovery Protocol;Permanent;RFC 6940;reload://<destination>@<overlay>/[<specifier>];
res;Used by Internet Explorer to display error pages when the server doesn't have its own customized error pages, or when there is no response from the server (in case which the server wasn't found, like when the server is down or the domain isn't registered or when there is no Internet connection, or in case of a timeout).;Provisional;"IANA registration template Microsoft";res://ieframe.dll/<File> (Where <File> is the file to load);Works only in Internet Explorer.
resource;Creating mapping for resource protocol aliases generted by the resource instruction. Used by Firefox.[1];Provisional;"IANA registration template Mozilla";resource://<aliasname>/ (Where <aliasname> is the name of the aliase);Works only in Firefox.
rmi;Look up a Java object in an RMI registry.;Provisional;"IANA registration template Sun";rmi://<host>[:<port>]/<object-name>;URI scheme understood by JNDI. Can be used to look up a remote Java object within an RMI registry (typically for the purposes of RMI on that object). Host/port in the URI are of the rmiregistry process, not the remote object.
rsync;rsync;Provisional;RFC 5781;rsync://<host>[:<port>]/<path>;
rtmfp;Real Time Media Flow Protocol;Provisional;"IANA registration template RFC 7425";rtmfp://<host>/<application>/<media>;
rtmp;Real Time Messaging Protocol;Provisional;"IANA registration template Adobe Systems";rtmp://<host>/<application>/<media>;URI schema used to connect to Adobe Flash Media Server.
rtsp;Real Time Streaming Protocol;Permanent;RFC 2326;;
s3;Amazon S3 bucket;Permanent[citation needed];aws-cli documentation;s3://mybucket/puppy.jpg;
secondlife;Open the Map floater in Second Life application to teleport the resident to the location.;Provisional;"IANA registration template Linden Lab";secondlife://<region name>/<x position>/<y position>/<z position>;Used by SLurl.com. Knowledge base article.
service;;Permanent;RFC 2609;;
session;Media Resource Control Protocol;Permanent;"RFC 4463 RFC 6787";"session:<content-id> example:session:help@root-level.store";
sftp;SFTP file transfers (not be to confused with FTPS (FTP/SSL));Provisional;"IANA registration template IETF Draft";"sftp://[<user>[;fingerprint=<host-key fingerprint>]@]<host>[:<port>]/<path>/<file>";
sgn;Social Graph Node Mapper;Provisional;"IANA registration template Google";"example: sgn://social-network.example.com/?ident=bob";Official documentation from sgnodemapper project.
shc;SMART Health Cards Framework;Provisional;IANA registration template;shc:<digit-string>;"User and technical documentation at SMARTHealth.cards. Initially used in QR code images to present proof of COVID-19 vaccination."
shttp;Secure HTTP;Permanent;RFC 2660;;Largely superseded by HTTPS.
sieve;ManageSieve protocol;Permanent;RFC 5804;;
sip;Used with Session Initiation Protocol (SIP);Permanent;"RFC 2543 RFC 3969 RFC 3261";"sip:<user>[:<password>]@<host>[:<port>][;<uri-parameters>][?<headers>] examples:sip:alice@atlanta.com?subject=project%20x&priority=urgentsip:+1-212-555-1212:1234@gateway.com;user=phone";
sips;Secure equivalent of sip;Permanent;"RFC 3969 RFC 3261";"sips:<user>[:<password>]@<host>[:<port>][;<uri-parameters>][?<headers>]";
skype;Launching Skype call (see also callto:);Provisional;"IANA registration template Skype";skype:<username|phonenumber>[?[add|call|chat|sendfile|userinfo]];
smb;Accessing SMB/CIFS shares;Provisional;"IANA registration template IETF Draft";"smb://[<user>@]<host>[:<port>][/[<path>]][?<param1>=<value1>[;<param2>=<value2>]] or smb://[<user>@]<workgroup>[:<port>][/] or smb://[[<domain>;]<username>[:<password>]@]<server>[:<port>][/[<share>[/[<path>]]][?[<param>=<value>[<param2>=<value2>[...]]]]][2]example:smb://workgroup;user:password@server/share/folder/file.txt";
sms;Interact with SMS capable devices for composing and sending messages.;Permanent;RFC 5724;"sms:<phone number>?<action> examples:sms:+15105550101?body=hello%20theresms:+15105550101,+15105550102?body=hello%20there";Should be used as a subset to the tel: schema.[citation needed]
snews;NNTP over SSL/TLS;Historical;RFC 5538;;
snmp;Simple Network Management Protocol;Permanent;RFC 4088;"snmp://[user@]host[:port][/[<context>[;<contextEngineID>]][/<oid>]] examples:snmp://example.com//1.3.6.1.2.1.1.3+snmp://tester5@example.com:8161/bridge1;800002b804616263";
"soap.beep soap.beeps";;Permanent;"RFC 3288 RFC 4227";;
soldat;Joining servers;Provisional;"IANA registration template Soldat";"soldat://<host>:<port>/[password] example:soldat://127.0.0.1:23073/thatssecret!";Official note in Manual
spotify;Load a track, album, artist, search, or playlist in Spotify;Provisional;"IANA registration template Spotify";"spotify:<artist|album|track>:<id> or spotify:search:<text> or spotify:user:<username>:playlist:<id> example:spotify:track:2jCnn1QPQ3E8ExtLe6INsx";Informally specified in Spotify official blog post by CTO Andreas Ehn.
ssh;SSH connections (like telnet:);Provisional;"IANA registration template IETF Draft";"ssh://[<user>[;fingerprint=<host-key fingerprint>]@]<host>[:<port>]";
steam;Interact with Steam: install apps, purchase games, run games, etc.;Provisional;"IANA registration template Steam, Valve";"steam:<command line arguments> or steam://<action>/<id, addon, IP, hostname, etc.>";Official documentation from Valve Developer Community website
"stun stuns";Session Traversal Utilities for NAT (STUN);Permanent;RFC 7064;stun[s]:<host>[:<port>];
svn;Provides a link to a Subversion (SVN) source control repository;Provisional;"IANA registration template Subversion";svn[+ssh]://<logindetails>@<repository><:port>/<modulepath>;
tag;tag URI scheme;Permanent;RFC 4151;tag:<email/domainname>,<date>:<Item>;Represented entities do not necessarily have to be accessible electronically.
teamspeak;Joining a server.;Provisional;"IANA registration template TeamSpeak";teamspeak://<server>[:<port>]/[?<parameter1>=<value1>[&<parameter2>=<value2>]];Official documentation from TeamSpeak Website
tel;Used for telephone numbers;Permanent;"RFC 5341 RFC 3966 RFC 2806";tel:<phonenumber>;
telnet;Used with telnet;Permanent;"RFC 1738 RFC 4248";telnet://<user>:<password>@<host>[:<port>/];
tftp;Trivial File Transfer Protocol;Permanent;RFC 3617;;
things;Interact with Things: create new to-dos or go to a specific list;Provisional;"IANA registration template Cultured Code";things:command?parameter1=value1&parameter2...;Works in iOS or OS X if Things by Cultured Code is installed. Complete documentation
thismessage;multipart/related relative reference resolution;Permanent;IANA registration template RFC 2557;;
tn3270;Interactive 3270 emulation sessions;Permanent;RFC 6270;;
tip;Transaction Internet Protocol;Permanent;RFC 2371;;
"turn turns";Traversal Using Relays around NAT (TURN);Permanent;RFC 7065;turn[s]:<host>[:<port>][?transport=<transport>];
tv;TV Broadcasts;Permanent;RFC 2838;;
udp;BitTorrent tracker protocol based on UDP.;Provisional;"IANA registration template BitTorrent";udp://<server>[:<port>]/;Documentation: UDP tracker protocol udp;MPEG Transport Stream over UDP;Provisional;"IANA registration template MPEG-TS";udp://[<localaddress>@]<destination|multicastgroup>[:<port>];Supported by FFmpeg, VLC and other common video streaming applications and appliances. Each UDP packet typically contains 1 to 7 188 byte TS packets with no additional headers or footers.
unreal;Joining servers;Provisional;"IANA registration template Unreal";unreal://<server>[:<port>]/;"Unreal legacy ""protocol"""
urn;Uniform Resource Names;Permanent;RFC 2141;urn:<namespace>:<specificpart>;Commonly used with namespace 'uuid'. See URN Namespaces.
ut2004;Joining servers;Provisional;"IANA registration template Unreal Tournament 2004";ut2004://<server>[:<port>][/<map>?<options>];Documentation from Unreal Developer Network
vemmi;Versatile Multimedia Interface;Permanent;RFC 2122;;
ventrilo;Joining a server.;Provisional;"IANA registration template Ventrilo";ventrilo://<server>[:<port>]/[?<parameter1>=<value1>[&<parameter2>=<value2>]];Official documentation from Ventrilo Website
videotex;;Historical;"IANA registration template IETF Draft RFC 2122 RFC 3986";;
view-source;Shows a web page as code 'in the raw'.;Provisional;"IANA registration template IETF Draft";"view-source:<absolute-URI> where <absolute-URI> is specified in RFC 3986. Example:view-source:http://en.wikipedia.org/wiki/URI_scheme";See view-source URI scheme for details.
vnc;Virtual Network Computing;Permanent;RFC 7869;vnc://[<host>[:<port>]][?<params>];
wais;Used with Wide area information server (WAIS);Historical;"RFC 1738 RFC 4156";wais://<host>:<port>/<database>[?<search>] or wais://<host>:<port>/<database>/<wtype>/<wpath>;
webcal;Subscribing to calendars in iCalendar format;Provisional;"IANA registration template iCalendar";"webcal://<hierarchical part> example:webcal://example.com/calendar.ics";"HTTP as a transport protocol is assumed. See Webcal for details."
"ws wss";WebSocket protocol;Permanent;RFC 6455;ws:<hierarchical part>;
wtai;Wireless Telephony Application Interface;Provisional;"IANA registration template WAP Forum";wtai://wp/mc/+18165551212;See Application Protocol Wireless Application Environment Specification Version 1.1 for details.
wyciwyg;What You Cache Is What You Get WYCIWYG;Provisional;"IANA registration template Mozilla";wyciwyg://<URI>;See WYCIWYG for details.
"xcon xcon-userid";;Permanent;RFC 6501;;
xfire;Adding friends and servers, joining servers, changing status text.;Provisional;"IANA registration template Xfire";xfire:<function>[?<parameter1>=<value1>[&<parameter2>=<value2>]];Official documentation from Xfire website
"xmlrpc.beep xmlrpc.beeps";;Permanent;RFC 3529;;
xmpp;XMPP;Permanent;"RFC 4622 RFC 5122";xmpp:[<user>]@<host>[:<port>]/[<resource>][?<query>];
xri;eXtensible Resource Identifier (XRI);Provisional;"IANA registration template OASIS XRI Technical Committee";xri://<authority>[/[<path>]][?<query>][#fragment];Official documentation from OASIS XRI Technical Committee
ymsgr;Sending an instant message to a Yahoo! Contact.;Provisional;"IANA registration template Yahoo! Messenger";ymsgr:sendIM?<screenname>;
z39.50;Z39.50 information access;Historical;"RFC 1738 RFC 2056";;
z39.50r;Z39.50 retrieval;Permanent;RFC 2056;"z39.50r://<host>[:<port>]/<database>?<docid>[;esn=<elementset>][;rs=<recordsyntax>]";
z39.50s;Z39.50 session;Permanent;RFC 2056;"z39.50s://<host>[:<port>]/[<database>][?<docid>][;esn=<elementset>][;rs=<recordsyntax>]";
admin;URL scheme in the GNOME desktop environment to access file(s) with administrative permissions with GUI applications in a safer way, instead of the insecure-considered sudo, gksu & gksudo.;GNOME Virtual file system;"admin:/<path>/<to>/<file> example: gedit admin:/etc/default/grub";See more information on: [5];
app;URL scheme can be used by packaged applications to obtain resources that are inside a container.;Google;"app://<application>/<path> example: app://com.foo.bar/index.html";See more information on: [6] [7];
freeplane;Open a Freemind/Freeplane `.mm` file in the locally installed Freeplane application and optionally highlight a node in the opened mindmap.;Freeplane v1.3 and above;"freeplane:/%20<path to file>#ID_<node number> freeplane:/%20<path to file>#:'<path>'/'<in>'/'<map>'/'<to>'/'<node>'";;
javascript;Execute JavaScript code;IETF Draft;javascript:<javascript to execute>;;
jdbc;Connect a database with Java Database Connectivity technology.;Database vendor dependent;"jdbc:somejdbcvendor:other_data... jdbc:oracle:oci:@host:port(sid or [/service])?params...jdbc:sqlserver://serverName\instanceName:portNumber;params...jdbc:mysql://host:port/database?params...";Requires a vendor provided connector (jar archive) to be included in the client library.;
msteams;Used by Microsoft to launch the Microsoft Teams desktop client.;Microsoft;msteams:/l/...;[3][4];
"ms-access ms-excel ms-infopath ms-powerpoint ms-project ms-publisher ms-spd ms-visio ms-word";Used by Microsoft to launch Microsoft Office applications.;Microsoft;"<scheme-name>:<command-name>|<command-argument-descriptor>|<command-argument> example: ms-excel:ofv|u|<https://contoso/Q4/budget.xls>";;
odbc;Open Database Connectivity;IETF Draft;;;
rdar;URL scheme used by Apple's internal issue-tracking system.;Apple (not public);"rdar://<issue number> example: rdar://10198949";Allows employees to link to internally-tracked issues from anywhere. Example of a private scheme which has leaked in to the public space and is widely seen on the internet, but can only be resolved by Apple employees.;
trueconf;Used by TrueConf Server to interact with client applications.;[8];trueconf:[target][@server]&[param_1]=[value_1]&[...]&[param_n]=[value_n];See more information at [9];
slack;Used by Slack to launch the Slack client.;Slack API reference;slack://open?team={TEAM_ID};;
stratum;Connectivity URI for the Stratum protocol, used for proof-of-work coordination in pooled cryptocurrency mining.;Stratum Protocol Draft;stratum+tcp://server:port, stratum+udp://server:port;This protocol has completely superseded the now-obsolete Getwork protocol,[5] and was created primarily to reduce network overhead as mining pool sizes inevitably scale upwards.[6];
viber;Open the locally installed Viber application to link to a view or perform an action, such as share an URL to a contact.;"Viber API Documentation - Deep Links Viber API Documentation - Viber Share Button";"viber://pa?chatURI=<URI> viber://pa/info?uri=<URI>viber://forward?text=<ShareDescription>";;
web+...;Effectively namespaces web-based protocols from other, potentially less web-secure, protocols.;This convention is defined within the HTML Living Standard specification;web+⟨string of some lower-case alphabetic characters⟩:;This convention is not associated with the registration of any new scheme but is currently a requirement as well as convention for non-whitelisted web-based protocols.;
"zoommtg zoomus";Used by Zoom conferencing software to launch the Zoom client.;Zoom developer community;zoommtg://zoom.us/join?confno=<confno>...;See more information at Zoom developer community;

%>
<%= render_show do %>
  <%= render_show_header title: resource.name, breadcrumbs: @breadcrumbs, tabs: { info: t('.info') } %>
  <%= render_tab id: "info_tab" do %>
    <%= render_tab_header label: t('.uri_scheme'), description: t('.uri_scheme_description') %>
    <%= render_dictionary do %>
      <%= render_dictionary_item label: t('.scheme'), value: resource.scheme %>
      <%= render_dictionary_item label: t('.purpose'), value: resource.purpose %>
      <%= render_dictionary_item label: t('.reference'), value: resource.reference %>
      <%= render_dictionary_item label: t('.general_format'), value: resource.general_format %>
      <%= render_dictionary_item label: t('.state'), value: resource.state %>
      <%= render_dictionary_item label: t('.notes'), value: resource.notes %>
    <% end %>
  <% end %>
<% end %>

