<!-- This example requires Tailwind CSS v2.0+ -->
<div class="w-full mb-2">
  <%#= helpers.render_component 'breadcrumb', breadcrumbs: @breadcrumbs, current: @current %>
</div>
<div class="px-4 md:flex mb-2">

    <article>
      <!-- Profile header -->
      <div>
        <div>
          <%= random_bg_pos_emp  %>
          <%#img class="h-32 w-full object-cover lg:h-48" src="https://images.unsplash.com/photo-1444628838545-ac4016a5418a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt=""> %>
          <%# <img class="h-32 w-full object-cover lg:h-48" src="https://cdn.midtvest.bazo.dk/images/e3895d16-9467-4e87-a855-9bad5199bb81/d/16-9/s/1136/webp" alt=""> %>
        </div>
        <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
            <div class="flex">
              <%= image_tag employee_mugshot( @asset.assetable, "150x150!" ), class: "h-24 w-22 rounded-full ring-4 ring-white sm:h-32 sm:w-32" %>
              <%# <img class="h-24 w-24 rounded-full ring-4 ring-white sm:h-32 sm:w-32" src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="" /> %>
            </div>
            <div
              data-controller="employee-pos"  
              class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
              <div class="sm:hidden 2xl:block mt-6 min-w-0 flex-1">
                <h1 class="text-2xl font-bold text-gray-900 truncate"> <%= @asset.name %> </h1>
              </div>
              <div class="mt-6 flex flex-col justify-stretch space-y-3 sm:flex-row sm:space-y-0 sm:space-x-4">
                <button 
                  data-employee-pos-target="startButton" 
                  data-action="employee-pos#punch_in" 
                  type="button" 
                  class="inline-flex justify-center px-4 py-2 border  border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                  <span class="material-symbols-outlined">
                  login
                  </span>                  
                  <span>Start</span>
                </button>
                
                <button 
                  data-employee-pos-target="pauseButton" 
                  data-action="employee-pos#punch_pause_resume" 
                  type="button" 
                  class="inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                  <span class="material-symbols-outlined">
                  pause
                  </span>
                  <span>Pause</span>
                </button>
                <button 
                  data-employee-pos-target="stopButton" 
                  data-action="employee-pos#punch_out" 
                  type="button" 
                  class="inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                  <span class="material-symbols-outlined">
                  logout
                  </span>
                  <span>Stop</span>
                </button>
                
                <button 
                  data-employee-pos-target="sickButton" 
                  data-action="employee-pos#punch_sick" 
                  type="button" 
                  class="inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                  <span class="material-symbols-outlined">
                  sick
                  </span>
                  <span>Syg!</span>
                </button>
              </div>
            </div>
          </div>
          <div class="hidden sm:block 2xl:hidden mt-6 min-w-0 flex-1">
            <h1 class="text-2xl font-bold text-gray-900 truncate"> <%= @asset.name %></h1>
          </div>
        </div>
      </div>

      <!-- Tabs at small breakpoint and up -->
      <div class="mt-6 sm:mt-2 2xl:mt-5">
        <div class="border-b border-gray-200">
          <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
            <nav class="-mb-px flex space-x-8" aria-label="Tabs">
              <% @tabs.each do |tab| %>
                <!-- <a href="<%= tab[:url] %>" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm"> <%= tab[:label] %> </a> -->
                <!-- Current: "border-pink-500 text-gray-900", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
                <%= link_to tab[:label], tab[:url], 
                    id: tab[:id],
                    data: { tabs_target: "tab", action: tab[:action], turbo_frame: tab[:turbo_frame], content_loader_url_param: tab[:url], content_loader_target_param: tab[:turbo_frame]},
                    class: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm", 
                    role: "menuitem", 
                    aria_current: "page"
                %>
              <% end %>
            </nav>
          </div>
        </div>
      </div>

      <%= content %>
    </article>

</div>













