<%= form_with model: resource, url: resource_url, id: resource_form, data: { form_sleeve_target: 'form' }, class: "h-full flex flex-col bg-white shadow-xl overflow-y-scroll" do |form| %>
  <%= form.fields_for :eventable do |task| %>
    <%= form.hidden_field :account_id, value: current_account.id %>
    <%= form.hidden_field :eventable_type, value: 'Task' %>
    <div class="flex-1 relative "
      data-controller="form"
      data-form-form-sleeve-outlet="#form-sleeve"
      data-form-list-outlet="#list"
      data-action="keydown->form#keydownHandler speicherMessage@window->form#handleMessages"    
      >
      <!-- Header -->
      <%= render_component "resource/form_header", resource: resource.eventable, title: form_header_title, description: form_header_description %>

      <!-- Divider container -->
      <div class="h-full py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">

        <!-- Name -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="name" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t ".name" %>
            </label>
          </div>
          <div class="sm:col-span-2">
            <%= form.text_field :name, 
              required: true, 
              data: { "form-target" => "focus" },
              class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:name).map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>

        <!-- location -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="location" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t ".location" %>
            </label>
          </div>
          <div class="sm:col-span-2">
            <%= task.text_field :location, 
              required: true, 
              data: { "form-target" => "focus" },
              class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.eventable.errors.where(:location).map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>

        <!-- Duration -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="duration" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t ".duration" %>
            </label>
          </div>
          <div class="sm:col-span-2">
            <%= task.number_field :duration, 
              required: true, 
              data: { "form-target" => "focus" },
              class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.eventable.errors.where(:duration).map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>

        <!-- state -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="state" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t ".state" %>
            </label>
          </div>
          <div class="sm:col-span-2">
            <%= form.text_field :state, 
              required: true, 
              data: { "form-target" => "focus" },
              class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:state).map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>

        <!-- Assignments -->
        <% # say "assignments count: #{ resource.assignments.size }" %>
        <%= form.fields_for :assignments do |assign_form| %>
          <%= assign_form.hidden_field :assignable_type %>
          <%= assign_form.hidden_field :assignable_id %>
          <%= assign_form.text_field :assignable_role, value: "owner" %>
        <% end %>

      </div>
    </div>
  <% end %>


  <%= render_component "action_button", resource: resource, delete_url: resource_url(resource.eventable), deleteable: !resource.new_record? %>

<% end %>

<%# = form.datetime_field :start_at %>
<%# = form.datetime_field :end_at %>
<%# = form.text_field :location %>
<%# = form.check_box :is_recurring %>
<%# = form.text_area :recurring_ical %>
<%# = form.datetime_field :recurring_end_at %>
<%# = form.check_box :full_day %>
