<div class="sticky z-20 top-0 right-0 px-4 py-6 bg-gray-50 sm:px-6">
  <div class="flex items-start justify-between space-x-3">
    <div class="space-y-1">
      <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">
        <%= @title %>
      </h2>
      <p class="text-sm text-gray-500">
        <%= @description %>
      </p>
    </div>
    <div class="h-7 flex items-center">
      <%= render partial: "shared/components/close_x", locals: { action: "form-sleeve#cancel", sr: 'close form', css_class: "text-gray-400 hover:text-gray-500" } %>
    </div>
  </div>
</div>
<!-- Form error resumé container -->
<% if @resource.errors.size > 0 %>
  <div data-form-sleeve-target="errors" class="py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-red-200 bg-red-200">
    <div class="error_container space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-1 sm:gap-4 sm:px-6 sm:py-5">
        <div class="text-sm text-red-800">
          <%= t :form_errors, nbr: @resource.errors.size %>
          <br>
          <p class="all_errors"><%= @resource.errors.full_messages %>
          </p>
        </div>
    </div>
  </div>
<% end %>
