<tbody id="pupils" class="divide-y divide-gray-200 bg-white">
  <% if ['IN'].include? resource.state  %>
    <% eligible_pupils(resource,params).each do |pupil| %>
      <tr>
        <td
          id="<%= dom_id pupil %>" 
          data-action="click->employee-pos#punch_pupil"  
          data-id="<%= pupil.id %>"        
          data-disabled="<%= 'disabled' if ['OUT','BREAK','SICK','FREE'].include? resource.state %>"
          class="<%= color_pupil pupil %>whitespace-nowrap cursor-pointer py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"> <%= pupil.name %></td>
      </tr>
    <% end %>
  <% end %>
  <!-- More people... -->
</tbody>
