<div id="enter_leave_tab" class=" py-4 px-4  space-y-6" data-tabs-target="panel">

  <!-- This example requires Tailwind CSS v2.0+ -->
  <!-- Be sure to use this with a layout container that is full-width on mobile -->
  <div 
    id="work_status" 
    data-controller="employee-pos"
    data-employee-pos-apikey-value="<%= resource.assetable.access_token %>"
    data-employee-pos-url-value="<%= pos_employee_url(resource.assetable) %>"
    data-employee-pos-employee-asset-id-value="<%= resource.id %>"
    class=" overflow-hidden shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:p-6 flex h-30 w-full ">
      <!-- Content goes here -->
      <%= turbo_stream_from "employee_#{resource.id}_state"  %>
      <%= turbo_frame_tag "employee_state" do %>
        <%= render partial: "pos/employees/employee_state", locals: { resource: resource } %>
      <% end %>
    </div>
    <%= render partial: "employee_state_buttons_turbo", locals: { resource: resource, buttons: @buttons } %>

    <%= render "modals" %>
  </div>

</div>
