<div id="info_tab" class="hidden py-4 px-4 " data-tabs-target="panel">

  
  <div class="mt-6 max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">

    <% [resource.assetable].each do |employee| %>
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">

        <div class="sm:col-span-2">
          <dt class="text-sm font-medium text-gray-500">GDPR</dt>
          <dd class="mt-1 max-w-prose text-sm text-gray-900 space-y-5">
            <p>Vi må forvente en del af de her viste oplysninger er genstand for 'design for privacy'.</p>
            <p>Det vil være op til kunden, i hvilket omfang det skal implementeres -</p>
          </dd>
        </div>

        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Email</dt>
          <dd class="mt-1 text-sm text-gray-900">brian@elmelund-jbf.dk</dd>
        </div>

        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">stilling</dt>
          <dd class="mt-1 text-sm text-gray-900"> <%= employee.job_title %></dd>
        </div>

        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">team</dt>
          <dd class="mt-1 text-sm text-gray-900"><%= resource.teams.map{ |t| t.name }.join(', ') %></dd>
        </div>

        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Fødselsdag</dt>
          <dd class="mt-1 text-sm text-gray-900"> <%= l employee.birthday, format: :date %></dd>
        </div>

        <div class="sm:col-span-2">
          <dt class="text-sm font-medium text-gray-500">About</dt>
          <dd class="mt-1 max-w-prose text-sm text-gray-900 space-y-5">
            <p>Tincidunt quam neque in cursus viverra orci, dapibus nec tristique. Nullam ut sit dolor consectetur urna, dui cras nec sed. Cursus risus congue arcu aenean posuere aliquam.</p>
            <p>Et vivamus lorem pulvinar nascetur non. Pulvinar a sed platea rhoncus ac mauris amet. Urna, sem pretium sit pretium urna, senectus vitae. Scelerisque fermentum, cursus felis dui suspendisse velit pharetra. Augue et duis cursus maecenas eget quam lectus. Accumsan vitae nascetur pharetra rhoncus praesent dictum risus suspendisse.</p>
          </dd>
        </div>

      </dl>
    <% end %>
  </div>

  <!-- Team member list -->
  <div class="mt-8 max-w-5xl mx-auto px-4 pb-12 sm:px-6 lg:px-8">
    <h2 class="text-sm font-medium text-gray-500">Team kollegaer</h2>
    <div class="mt-1 grid grid-cols-1 gap-4 sm:grid-cols-2">
      <% (resource.teams.map(&:employees).flatten.compact.uniq - [resource]).each do |asset| %>
        <div class="relative rounded-lg border border-gray-300 <%= set_emp_bg_color_on_state asset.state %> px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-pink-500">
          <div class="flex-shrink-0">
            <%= image_tag employee_mugshot( asset.assetable, "150x150!" ), class: "h-10 w-10 rounded-full" %>
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900"> <%= asset.name %></p>
              <p class="text-sm text-gray-500 truncate"> <%= asset.assetable.job_title %></p>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
 

</div>