<div 
  id="pos_employees_<%= employee.id %>" 
  class="relative flex items-center space-x-3 rounded-lg border border-gray-300 <%= set_emp_bg_color_on_state employee.state %> px-6 <%= employee.working? ? "py-5" : "py-3" %> shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
  <div class="flex-shrink-0">
    <%= render_component "element/mug_shot", resource: employee %>
  </div>
  <div class="min-w-0 flex-1">
    <a href="#" class="focus:outline-none">
      <span class="absolute inset-0" aria-hidden="true"></span>
      <p class="text-sm font-medium text-gray-900"><%= display_public employee.name %></p>
      <p class="truncate text-sm text-gray-500"><span class="float-right"><%= display_work_today employee %></span></p>
    </a>
  </div>
</div>
