<div id="stats_tab" class="hidden py-4 px-4 " data-tabs-target="panel">
  <div class="px-4 sm:px-6 lg:px-8">
    <%# <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-xl font-semibold text-gray-900">Timeseddel</h1>
        <p class="mt-2 text-sm text-gray-700">For arbejde udført mellem <time datetime="2022-04-01">1 April, 2022</time> og <time datetime="2022-04-29">dags dato</time>.</p>
      </div>
      <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
        <button type="button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">Print</button>
      </div> 
    </div>%>
    <div class="-mx-4 mt-8 flex flex-col sm:-mx-6 md:mx-0">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 md:pl-0">Beskrivelse</th>
            <th scope="col" class="hidden py-3.5 px-3 text-right text-sm font-semibold text-gray-900 sm:table-cell">Timer/dage</th>
            <%# <th scope="col" class="hidden py-3.5 px-3 text-right text-sm font-semibold text-gray-900 sm:table-cell">Pris</th>
            <th scope="col" class="py-3.5 pl-3 pr-4 text-right text-sm font-semibold text-gray-900 sm:pr-6 md:pr-0">Ialt</th> %>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-gray-200">
            <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
              <div class="font-medium text-gray-900">Timer i denne uge</div>
              <div class="mt-0.5 text-gray-500 sm:hidden"> <%= display_hours_this_week resource %></div>
            </td>
            <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"><%= display_hours_this_week resource %></td>
            <%# <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell">175,00</td>
            <td class="py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:pr-6 md:pr-0">2.100,00</td> %>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
              <div class="font-medium text-gray-900">Timer i denne måned</div>
              <div class="mt-0.5 text-gray-500 sm:hidden"><%= display_hours_this_month resource %></div>
            </td>
            <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"><%= display_hours_this_month resource %></td>
            <%# <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell">175,00</td>
            <td class="py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:pr-6 md:pr-0">13.300,00</td> %>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
              <div class="font-medium text-gray-900">Overarbejde i denne uge</div>
              <div class="mt-0.5 text-gray-500 sm:hidden"><%= display_ot_hours_this_week resource %></div>
            </td>
            <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"><%= display_ot_hours_this_week resource %></td>
            <%# <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell">262,50</td>
            <td class="py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:pr-6 md:pr-0">262,50</td> %>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
              <div class="font-medium text-gray-900">Overarbejde i denne måned</div>
              <div class="mt-0.5 text-gray-500 sm:hidden"><%= display_ot_hours_this_month resource %></div>
            </td>
            <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"><%= display_ot_hours_this_month resource %></td>
            <%# <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell">262,50</td>
            <td class="py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:pr-6 md:pr-0">262,50</td> %>
          </tr>


            <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900">Ferie/Fri konto forbrug</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"><%= display_rr_account resource %></div>
              </td>
              <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"><%= display_rr_account resource %></td>
            </tr>

            <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900">Senior konto forbrugt</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"><%= display_senior_account resource %></div>
              </td>
              <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"><%= display_senior_account resource %></td>
            </tr>

            <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900">Sygdom</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"><%= display_sick_account resource %></div>
              </td>
              <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"><%= display_sick_account resource %></td>
            </tr>

            <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900">Ferie forbrugt</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"><%= display_free_account resource %></div>
              </td>
              <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"><%= display_free_account resource %></td>
            </tr>

            <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900">Børns sygdom</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"><%= display_child_sick_account resource %></div>
              </td>
              <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"><%= display_child_sick_account resource %></td>
            </tr>

            <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900">Omsorg</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"><%= display_nursing_account resource %></div>
              </td>
              <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"><%= display_nursing_account resource %></td>
            </tr>

            <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900">Selvbetalt fri</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"><%= display_unpaid_account resource %></div>
              </td>
              <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"><%= display_unpaid_account resource %></td>
            </tr>

            <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900">Tabt arbejdsfortjeneste</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"><%= display_lost_work_account resource %></div>
              </td>
              <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"><%= display_lost_work_account resource %></td>
            </tr>

            <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900">Barsel forbrugt</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"><%= display_child_leave_account resource %></div>
              </td>
              <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"><%= display_child_leave_account resource%></td>
            </tr>

            <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900">Orlovskonto forbrugt</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"><%= display_leave_account resource %></div>
              </td>
              <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"><%= display_leave_account resource %></td>
            </tr>

            <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900">Ferie forbrugt sidste år</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"><%= display_free_prev_account resource %></div>
              </td>
              <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"><%= display_free_prev_account resource %></td>
            </tr>

            <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900">§56 konto forbrugt</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"><%= display_pgf56_account resource %></div>
              </td>
              <td class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"><%= display_pgf56_account resource %></td>
            </tr>



          <!-- More projects... -->
        </tbody>
        <%# <tfoot>
          <tr>
            <th scope="row" colspan="3" class="hidden pl-6 pr-3 pt-6 text-right text-sm font-normal text-gray-500 sm:table-cell md:pl-0">Subtotal</th>
            <th scope="row" class="pl-4 pr-3 pt-6 text-left text-sm font-normal text-gray-500 sm:hidden">Subtotal</th>
            <td class="pl-3 pr-4 pt-6 text-right text-sm text-gray-500 sm:pr-6 md:pr-0">$3,900.00</td>
          </tr>
          <tr>
            <th scope="row" colspan="3" class="hidden pl-6 pr-3 pt-4 text-right text-sm font-normal text-gray-500 sm:table-cell md:pl-0">Tax</th>
            <th scope="row" class="pl-4 pr-3 pt-4 text-left text-sm font-normal text-gray-500 sm:hidden">Tax</th>
            <td class="pl-3 pr-4 pt-4 text-right text-sm text-gray-500 sm:pr-6 md:pr-0">$585.00</td>
          </tr>
          <tr>
            <th scope="row" colspan="3" class="hidden pl-6 pr-3 pt-4 text-right text-sm font-semibold text-gray-900 sm:table-cell md:pl-0">Total</th>
            <th scope="row" class="pl-4 pr-3 pt-4 text-left text-sm font-semibold text-gray-900 sm:hidden">Total</th>
            <td class="pl-3 pr-4 pt-4 text-right text-sm font-semibold text-gray-900 sm:pr-6 md:pr-0">$4,485.00</td>
          </tr>
        </tfoot> %>
      </table>
    </div>
  </div>
</div>
