<div class="m-auto p-5">
  <% if current_user %>
    <div class="text-2xl mb-10 grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-1">
      <% (resources-resources.working).each do |asset| %>
        <div class="p-1 leading-1 <%= set_emp_bg_color_on_state asset.state %>"><%= display_public asset.name %> <span class="float-right"><%= display_work_today asset if current_user %></span></div>
      <% end %>
    </div>
  <% end %>
  <span class="text-stone-100"> Antal mødte: <%= resources.working.size %></span>
  <div class="text-2xl grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-1">
    <% resources.working.each do |asset| %>
      <div class="p-1 leading-1 <%= set_emp_bg_color_on_state asset.state %>"><%= display_public asset.name %> <span class="float-right"><%= display_work_today asset if current_user %></span></div>
    <% end %>
  </div>
</div>
