<% content_for :head do %>
  <meta name='viewport' content= 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
  <meta viewport= 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' mobileAppIOS= true>
  <meta name="mobile-web-app-capable"  content= "yes">
  <meta name="full-screen"  content="yes">
  <meta name="browsermode"  content="application">
  <meta name="screen-orientation"  content="portrait">
  <script>
    // window.App = {};
    // App.webWorker = new Worker("/employee_pos_worker_1.js");
  </script>
<% end %>

<div 
  class="max-w-full lg:max-w-screen-2xl mx-auto sm:px-6 lg:px-8" 
  data-controller="tabs"  
  data-tabs-active-tab="border-indigo-500 text-indigo-600" 
  >
  <%= render_component "show_employee_header", 
      title: resource.name, 
      breadcrumbs: @breadcrumbs, 
      current: Current, 
      asset: resource,
      tabs: [ 
        {id: "enter_leave_tab", url: "#enter_leave_tab", label: t('.enter_leave'), action: "click->tabs#change" },
        #{id: "calendar_tab", url: "#calendar_tab", label: t('.calendar'), action: "click->tabs#change" },
        {id: "stats_tab", url: "#stats_tab", label: t('.stats'), action: "click->tabs#change" },
        #{id: "info_tab", url: "#info_tab", label: t('.info'), action: "click->tabs#change" },
      ] do %>

    <div id="enter_leave_tab" class=" py-4 px-4  space-y-6" data-tabs-target="panel">

      <!-- This example requires Tailwind CSS v2.0+ -->
      <!-- Be sure to use this with a layout container that is full-width on mobile -->
      <div id="work_status" class="bg-white overflow-hidden shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:p-6 flex h-30 w-full ">
          <!-- Content goes here -->
          <%= turbo_stream_from "employee_#{resource.id}_state"  %>
          <%= turbo_frame_tag "employee_state" do %>
            <%= render partial: "pos/employees/employee_state", locals: { resource: resource } %>
          <% end %>
        </div>

        <%= render "modals" %>
      </div>

      <%= render "tasks" %>
    </div>

    <%#= render "calendar_tab" %>

    <%= render "stats_tab" %>

    <%#= render "info_tab" %>
      
  <% end %>

</div>




<!-- 


                  Always include: "flex h-14 flex-col py-2 px-3 hover:bg-gray-100 focus:z-10"
                  Is current month, include: "bg-white"
                  Is not current month, include: "bg-gray-50"
                  Is selected or is today, include: "font-semibold"
                  Is selected, include: "text-white"
                  Is not selected and is today, include: "text-indigo-600"
                  Is not selected and is current month, and is not today, include: "text-gray-900"
                  Is not selected, is not current month, and is not today: "text-gray-500"
                --
                <button type="button" class="flex h-14 flex-col bg-gray-50 py-2 px-3 text-gray-500 hover:bg-gray-100 focus:z-10">
                    Always include: "ml-auto"
                    Is selected, include: "flex h-6 w-6 items-center justify-center rounded-full"
                    Is selected and is today, include: "bg-indigo-600"
                    Is selected and is not today, include: "bg-gray-900"
                  --
                  <time datetime="2021-12-27" class="ml-auto">27</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-gray-50 py-2 px-3 text-gray-500 hover:bg-gray-100 focus:z-10">
                  <time datetime="2021-12-28" class="ml-auto">28</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-gray-50 py-2 px-3 text-gray-500 hover:bg-gray-100 focus:z-10">
                  <time datetime="2021-12-29" class="ml-auto">29</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-gray-50 py-2 px-3 text-gray-500 hover:bg-gray-100 focus:z-10">
                  <time datetime="2021-12-30" class="ml-auto">30</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-gray-50 py-2 px-3 text-gray-500 hover:bg-gray-100 focus:z-10">
                  <time datetime="2021-12-31" class="ml-auto">31</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-01" class="ml-auto">1</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-02" class="ml-auto">2</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-03" class="ml-auto">3</time>
                  <p class="sr-only">2 events</p>
                  <div class="-mx-0.5 mt-auto flex flex-wrap-reverse">
                    <div class="mx-0.5 mb-1 h-1.5 w-1.5 rounded-full bg-gray-400"></div>
                    <div class="mx-0.5 mb-1 h-1.5 w-1.5 rounded-full bg-gray-400"></div>
                  </div>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-04" class="ml-auto">4</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-05" class="ml-auto">5</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-06" class="ml-auto">6</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-07" class="ml-auto">7</time>
                  <p class="sr-only">1 event</p>
                  <div class="-mx-0.5 mt-auto flex flex-wrap-reverse">
                    <div class="mx-0.5 mb-1 h-1.5 w-1.5 rounded-full bg-gray-400"></div>
                  </div>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-08" class="ml-auto">8</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-09" class="ml-auto">9</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-10" class="ml-auto">10</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-11" class="ml-auto">11</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 font-semibold text-indigo-600 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-12" class="ml-auto">12</time>
                  <p class="sr-only">1 event</p>
                  <div class="-mx-0.5 mt-auto flex flex-wrap-reverse">
                    <div class="mx-0.5 mb-1 h-1.5 w-1.5 rounded-full bg-gray-400"></div>
                  </div>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-13" class="ml-auto">13</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-14" class="ml-auto">14</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-15" class="ml-auto">15</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-16" class="ml-auto">16</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-17" class="ml-auto">17</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-18" class="ml-auto">18</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-19" class="ml-auto">19</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-20" class="ml-auto">20</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-21" class="ml-auto">21</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 font-semibold text-white hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-22" class="ml-auto flex h-6 w-6 items-center justify-center rounded-full bg-gray-900">22</time>
                  <p class="sr-only">2 events</p>
                  <div class="-mx-0.5 mt-auto flex flex-wrap-reverse">
                    <div class="mx-0.5 mb-1 h-1.5 w-1.5 rounded-full bg-gray-400"></div>
                    <div class="mx-0.5 mb-1 h-1.5 w-1.5 rounded-full bg-gray-400"></div>
                  </div>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-23" class="ml-auto">23</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-24" class="ml-auto">24</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-25" class="ml-auto">25</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-26" class="ml-auto">26</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-27" class="ml-auto">27</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-28" class="ml-auto">28</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-29" class="ml-auto">29</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-30" class="ml-auto">30</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-900 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-01-31" class="ml-auto">31</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-gray-50 py-2 px-3 text-gray-500 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-02-01" class="ml-auto">1</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-gray-50 py-2 px-3 text-gray-500 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-02-02" class="ml-auto">2</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-gray-50 py-2 px-3 text-gray-500 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-02-03" class="ml-auto">3</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-gray-50 py-2 px-3 text-gray-500 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-02-04" class="ml-auto">4</time>
                  <p class="sr-only">1 event</p>
                  <div class="-mx-0.5 mt-auto flex flex-wrap-reverse">
                    <div class="mx-0.5 mb-1 h-1.5 w-1.5 rounded-full bg-gray-400"></div>
                  </div>
                </button>
                <button type="button" class="flex h-14 flex-col bg-gray-50 py-2 px-3 text-gray-500 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-02-05" class="ml-auto">5</time>
                  <p class="sr-only">0 events</p>
                </button>
                <button type="button" class="flex h-14 flex-col bg-gray-50 py-2 px-3 text-gray-500 hover:bg-gray-100 focus:z-10">
                  <time datetime="2022-02-06" class="ml-auto">6</time>
                  <p class="sr-only">0 events</p>
                </button>
-->