<%= render_form( resource: resource, assoc: :assetable, 
  clipboard_prefix: (resource.new_record? ? nil : equipment_url(resource.assetable))
  ) do |form| %> 

  <%= render_form_header( resource: resource, title: form_header_title, description: form_header_description ) %>
  <%= render_form_errors(resource: resource) if resource.errors.size > 0 %>

  <!-- Name -->
  <%= form.text_field( :name, required: true, focus: true, input_css: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md") %>

  <!-- Divider container -->
  <div class="h-full py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">

    <!-- access_token -->
    <%= form.token_field( :access_token, assoc: :assetable) %>

    <!-- mug_shot 
    <div class="px-4 pt-8 ">
      <div >
        <h3 class="text-lg leading-6 font-medium text-gray-900"><%= t(".mug_shot") %></h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500"><%= t(".mug_shot_description") %></p>
        <%#= render_component "resource/fileupload", url: equipment_mugshot(equipment.object,"40x40!"), form: equipment, field: :mug_shot %>           
      </div>
    </div> -->

    <%= form.text_field( :brand, assoc: :assetable ) %>
    <%= form.text_field( :model, assoc: :assetable ) %>

    <%= form.combo_field( :organization_id, assoc: :assetable, type: :single_drop_search, url: "/organizations") %>
    <%= form.combo_field( :location_id, assoc: :assetable, type: :single_drop_search, url: "/locations") %>

    <%= form.datetime_field( :purchased_at, assoc: :assetable) %>
    <%= form.text_field( :purchase_price, assoc: :assetable) %>
    <%= form.text_field( :residual_value, assoc: :assetable) %>
    <%= form.datetime_field( :warranty_ends_at, assoc: :assetable) %>
    <%= form.text_field( :serial_number, assoc: :assetable) %>
    <%= form.text_area( :description, assoc: :assetable) %>

    <!-- state -->
    <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
      <div>
        <label for="state" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
          <%= t ".state" %>
        </label>
      </div>
      <div class="sm:col-span-2 flex">
        <%#= display_equipment_state resource %>
      </div>
    </div>

  </div>
  <%= render_form_action_buttons resource: resource, delete_url: resource_url(), deleteable: !resource.new_record? %>
<% end %>
