<nav id="menu" class="<%= @nav_classes %>">

  <% unless @current.user.nil? %>
    <!-- Current: " text-gray-700", Default: "text-indigo-100 hover:bg-indigo-600" -->
    <a href="/" class=" text-gray-700 hover:bg-gray-300  group flex items-center px-2 py-2 <%= @text %> font-medium rounded-md">
      <span class="material-symbols-outlined">panorama</span>
      Dashboard
    </a>
  <% end %>

  <div id="account_<%= @id %>_services" class="space-y-1">
    <% @current.account.services.each do |service| %>
      <% active = request.fullpath == service.index_url %>
      <% if (@current.user.can_list_service?(service) rescue false) %>
        <!-- Current: "bg-gray-100 text-gray-900", Default: "text-gray-600 hover:text-gray-900 hover:bg-gray-50" -->
        <a href="<%= service.index_url %>" class="<%= @link_classes %><%= active ? " bg-gray-200 text-gray-900" : "" %>" aria-current="page">
          <!--
            Heroicon name: outline/home

            Current: "text-gray-500", Default: "text-gray-400 group-hover:text-gray-500"
            <svg class="text-gray-500 mr-3 flex-shrink-0 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>

          -->
          <%= raw service.menu_icon %>
          <%= t ".#{service.menu_label}" %>
        </a>
      <% end %>

    <% end if @current && @current.account %>
  </div>

  <%= helpers.render_component "navigation/super_user", current: @current if (@current && @current.user && @current.user.is_a_god?) %>
</nav>

