<div id="<%= dom_id participant %>">
  <p>
    <strong>Account:</strong>
    <%= participant.account_id %>
  </p>

  <p>
    <strong>Calendar:</strong>
    <%= participant.calendar_id %>
  </p>

  <p>
    <strong>Participantable:</strong>
    <%= participant.participantable_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= participant.name %>
  </p>

  <p>
    <strong>State:</strong>
    <%= participant.state %>
  </p>

  <p>
    <strong>Ancestry:</strong>
    <%= participant.ancestry %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= participant.deleted_at %>
  </p>

</div>
