<div 
  class="max-w-full lg:max-w-screen-2xl mx-auto sm:px-6 lg:px-8" 
  data-controller="tabs"  
  data-tabs-active-tab="border-indigo-500 text-indigo-600" 
  >
  <%= render_component "resource/show_header", 
      title: resource.name, 
      breadcrumbs: @breadcrumbs, 
      current: Current, 
      tabs: [ 
        {id: "info_tab", url: "#info", label: t('.info'), action: "click->tabs#change" },
        {id: "stock_locations_tab", url: stock_stock_locations_url(resource), label: t('.stock_locations'), action: "click->tabs#change" },
        {id: "stock_transactions_tab", url: stock_stock_transactions_url(resource), label: t('.stock_transactions'), action: "click->tabs#change" },
        {id: "stocked_products_tab", url: stock_stocked_products_url(resource), label: t('.stocked_products'), action: "click->tabs#change" }
      ] do %>
    <div class="md:mt-7 justify-end flex">
      <div class="w-full">
        <%= form_with url: "", method: :get, data: { turbo_frame: resources_target, turbo_action: 'advance' } do |form| %>
          <%= search_field :q, params[:q] %>
        <% end %>
      </div>

      <div class="ml-4 mt-1 shrink-0">
        <%= link_to t("#{resource_class}.new_button"), new_stock_stock_location_url(resource), class: "button new-button inline-block select-none", data: { form_sleeve_target: "button", action: "click->extended-slideover#toggle", 'turbo-frame': 'form_slideover' } %>
      </div>
      <%# <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Share</button> %>
      
    </div>


  <% end %>
  <div id="info_tab" class="hidden py-4 px-4 " data-tabs-target="panel">

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900"><%= t '.stock_transaction' %></h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500"><%= t '.stock_transaction.description' %></p>
      </div>
      <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.name' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= resource.name %></dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.last_seen_at' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= display_time resource.last_heart_beat_at %></dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.quantity_pallets' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= resource.nbr_pallets %> <%= t('.pallets') %> </dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.quantity_unit' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= resource.quantity %></dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.created_at' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= display_time resource.created_at %> </dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.updated_at' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= display_time resource.updated_at %> </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div id="stock_locations_tab" class="hidden shadow overflow-hidden border-b border-gray-200 sm:rounded-lg" data-tabs-target="panel">
    <%= turbo_stream_from "stock_locations"  %>
    <%= turbo_frame_tag "stock_locations", loading: "lazy", src: stock_stock_locations_url(resource) do %>
      <span class="py-2 px2">
        <%= t('loading') %>
      </span>
    <% end %>
  </div>

  <div id="stock_transactions_tab" class="hidden shadow overflow-hidden border-b border-gray-200 sm:rounded-lg" data-tabs-target="panel">
    <%= turbo_stream_from "stock_transactions"  %>
    <%= turbo_frame_tag "stock_transactions", loading: "lazy", src: stock_stock_transactions_url(resource) do %>
      <span class="py-2 px2">
        <%= t('loading') %>
      </span>
    <% end %>
  </div>

  <div id="stocked_products_tab" class="hidden shadow overflow-hidden border-b border-gray-200 sm:rounded-lg" data-tabs-target="panel">
    <%= turbo_stream_from "stocked_products"  %>
    <%= turbo_frame_tag "stocked_products", loading: "lazy", src: stock_stocked_products_url(resource) do %>
      <span class="py-2 px2">
        <%= t('loading') %>
      </span>
    <% end %>
  </div>
</div>




