<%#= form_with model: resource, 
      url: resource_url(), 
      id: resource_form, 
      data: { form_sleeve_target: 'form' }, 
      class: "h-full flex flex-col bg-white shadow-xl overflow-y-scroll" do |form| %>
<%= render_form( resource: resource, assoc: :participantable ) do |form| %> 

  <%= render_form_header( resource: resource, title: form_header_title, description: form_header_description ) %>
  <%= render_form_errors(resource: resource) if resource.errors.size > 0 %>

  <!-- Divider container -->
  <div class="h-full py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">

    <!-- Name -->
    <%= form.text_field( :name, required: true, focus: true ) %>

    <%= form.text_field( :user_name, assoc: :participantable, required: true ) %>
    <%= form.email_field( :email, assoc: :participantable, required: true ) %>
    <%= form.password_field( :password, assoc: :participantable, required: true, autocomplete: "off" ) %>
    <%= form.password_field( :password_confirmation, assoc: :participantable, required: true, autocomplete: "off" ) %>
    <%= form.checkbox_field( :confirmed_at, assoc: :participantable, autocomplete: "off" ) %>

    <%= form.combo_field( :teams, parent: parent, type: :multi_list, url: "/teams", items: Team.all ) %>

    <%= render_form_action_buttons resource: resource, delete_url: resource_url(), deleteable: !resource.new_record? %>

  </div>
<% end %>
