<%= form_with model: resource, 
      url: resource_url(), 
      id: resource_form, 
      data: { form_sleeve_target: 'form' }, 
      class: "h-full flex flex-col bg-white shadow-xl overflow-y-scroll" do |form| %>
 
  <%= form.fields_for :participantable do |participant_form| %>

    <%= form.hidden_field :account_id, value: current_account.id %>
    <%= form.hidden_field :participantable_type, value: "User" %>

    <div class="flex-1 relative "
      data-controller="form"
      data-form-form-sleeve-outlet="#form-sleeve"
      data-form-list-outlet="#list"
      data-action="keydown->form#keydownHandler speicherMessage@window->form#handleMessages"    
      >

      <!-- Header -->
      <%= render_component "resource/form_header", resource: resource, title: form_header_title, description: form_header_description %>

      <!-- Divider container -->
      <div class="h-full py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">

        <!-- name -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="name" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t :name %>
            </label>
          </div>
          <div class="sm:col-span-2">
            <%= form.text_field :name, 
              required: true, 
              data: { "form-target" => 'focus' },
              class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:name).map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>


        <!-- User name -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="user_name" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t :user_name %>
            </label>
          </div>
          <div class="sm:col-span-2">
            <%= participant_form.text_field :user_name, 
              required: true, 
              data: { "form-target" => 'focus' },
              class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:"participantable.user_name").map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>

        <!-- User email -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="email" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              User email
            </label>
          </div>
          <div class="sm:col-span-2">
            <%= participant_form.email_field :email, required: true, autofocus: "autofocus",  class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:"participantable.email").map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>

        <!-- User password -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="password" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t :password %>
            </label>
          </div>
          <div class="sm:col-span-2">
            <%= participant_form.password_field :password, required: true,  autocomplete: "on", class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:"participantable.password").map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>

        <!-- User password confirmation -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="password_confirmation" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t :password_confirmation %>
            </label>
          </div>
          <div class="sm:col-span-2">
            <%= participant_form.password_field :password_confirmation, required: true,  autocomplete: "on", class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:"participantable.password_confirmation").map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>

        <!-- Confirmed At -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div class="">
            <label for="confirmed_at" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t :confirmed_at %>
            </label>
          </div>
          <div class="sm:col-span-2">
            <%= participant_form.check_box :confirmed_at, checked: resource.participantable.confirmed?, required: false,  autocomplete: "on", class: "h-4 w-4 focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:"participantable.confirmed_at").map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>

        <!-- Teams -->
        <%= render_component "resource/combo", form: form, attr: :teams, label: t('.teams'), type: :multi_list, url: "/teams", items: Team.all %>


        <!-- roles -->
        <%= render_component "resource/combo", form: form, attr: :roles, label: t('.roles'), type: :multi_list, url: "/roles", items: Role.all %>

        <!-- A Slider --
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <span class="flex-grow flex flex-col">
              <span class="text-sm font-medium text-gray-900" id="availability-label">Available to hire</span>
              <span class="text-sm text-gray-500" id="availability-description">Nulla amet tempus sit accumsan. Aliquet turpis sed sit lacinia.</span>
            </span>
          </div>
          !-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" --
          <button type="button" class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" role="switch" aria-checked="false" aria-labelledby="availability-label" aria-describedby="availability-description">
            !-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" --
            <span aria-hidden="true" class="translate-x-0 pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
          </button>
        </div> -->

        <!-- User profile type --
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="profile_type" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t :profile_type %>
            </label>
          </div>
          <div class="sm:col-span-2">
                

            <%#= render Select::SelectComponent.new( items: [
              # ::Select::Item.new( title: 'SpeicherAdmin', selected: false, url: accounts_path),
              # ::Select::Item.new( title: 'Admin', selected: true, url: users_path),
              # ::Select::Item.new( title: 'User', selected: false, url: users_path),
              # ::Select::Item.new( title: 'Guest', selected: false, url: users_path),
            ], input_text: resource.profile.call_name, values: [], placeholder: 'Vælg profil', url: '/profile_types', input_name: 'user[profile_type]', ) %>
            <div class="text-sm text-red-800" >
              <%= form.object.errors.where(:profile_type).map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div> -->

        <!-- Bio --
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="bio" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t :bio %>
            </label>
          </div>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <textarea id="about" name="about" rows="3" class="max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border border-gray-300 rounded-md"></textarea>
            <p class="mt-2 text-sm text-gray-500">Write a few sentences about yourself.</p>
          </div>
        </div>  -->    

        <!-- User avatar --
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="profile_type" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t :photo %>
            </label>
          </div>

          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="flex items-center">
              <span class="h-12 w-12 rounded-full overflow-hidden bg-gray-100">
                <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                </svg>
              </span>
              <button type="button" class="ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Change</button>
            </div>
          </div>
        </div>    -->  

        <!-- Notifications 
        <div class="px-4 divide-y divide-gray-200 pt-8 space-y-6 sm:pt-10 sm:space-y-5">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">Notifications</h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">We'll always let you know about important changes, but you pick what else you want to hear about.</p>
          </div>
          <div class="space-y-6 sm:space-y-5 divide-y divide-gray-200">
            <div class="pt-6 sm:pt-5">
              <div role="group" aria-labelledby="label-email">
                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
                  <div>
                    <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-email">By Email</div>
                  </div>
                  <div class="mt-4 sm:mt-0 sm:col-span-2">
                    <div class="max-w-lg space-y-4">
                      <div class="relative flex items-start">
                        <div class="flex items-center h-5">
                          <input id="comments" name="comments" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                        </div>
                        <div class="ml-3 text-sm">
                          <label for="comments" class="font-medium text-gray-700">Comments</label>
                          <p class="text-gray-500">Get notified when someones posts a comment on a posting.</p>
                        </div>
                      </div>
                      <div>
                        <div class="relative flex items-start">
                          <div class="flex items-center h-5">
                            <input id="candidates" name="candidates" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                          </div>
                          <div class="ml-3 text-sm">
                            <label for="candidates" class="font-medium text-gray-700">Candidates</label>
                            <p class="text-gray-500">Get notified when a candidate applies for a job.</p>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="relative flex items-start">
                          <div class="flex items-center h-5">
                            <input id="offers" name="offers" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                          </div>
                          <div class="ml-3 text-sm">
                            <label for="offers" class="font-medium text-gray-700">Offers</label>
                            <p class="text-gray-500">Get notified when a candidate accepts or rejects an offer.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pt-6 sm:pt-5">
              <div role="group" aria-labelledby="label-notifications">
                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
                  <div>
                    <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-notifications">Push Notifications</div>
                  </div>
                  <div class="sm:col-span-2">
                    <div class="max-w-lg">
                      <p class="text-sm text-gray-500">These are delivered via SMS to your mobile phone.</p>
                      <div class="mt-4 space-y-4">
                        <div class="flex items-center">
                          <input id="push-everything" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                          <label for="push-everything" class="ml-3 block text-sm font-medium text-gray-700"> Everything </label>
                        </div>
                        <div class="flex items-center">
                          <input id="push-email" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                          <label for="push-email" class="ml-3 block text-sm font-medium text-gray-700"> Same as email </label>
                        </div>
                        <div class="flex items-center">
                          <input id="push-nothing" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                          <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700"> No push notifications </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->



      </div>

      <%= render_component "action_button", resource: resource, delete_url: resource_url(resource), deleteable: (resource != current_user && !resource.new_record?) %>

    </div>
  <% end %>
<% end %>
<%= Current.errors %>
