<p style="color: green"><%= notice %></p>

<%= render @pupil_transaction %>

<div>
  <%= link_to "Edit this pupil transaction", edit_pupil_transaction_path(@pupil_transaction) %> |
  <%= link_to "Back to pupil transactions", pupil_transactions_path %>

  <%= button_to "Destroy this pupil transaction", @pupil_transaction, method: :delete %>
</div>
