<%= form_with model: resource, url: url_for(resource.participantable), id: resource_form, data: { form_sleeve_target: 'form' }, class: "h-full flex flex-col bg-white shadow-xl overflow-y-scroll" do |form| %>
  <%= form.fields_for :participantable do |participant_form| %>
    <%= form.hidden_field :account_id, value: current_account.id %>
    <%= form.hidden_field :participantable_type, value: "Contact" %>
    <div class="flex-1 relative "
      data-controller="form"
      data-form-form-sleeve-outlet="#form-sleeve"
      data-form-list-outlet="#list"
      data-action="keydown->form#keydownHandler speicherMessage@window->form#handleMessages"    
      >
      <!-- Header -->
      <%= render_component "resource/form_header", resource: resource, title: form_header_title, description: form_header_description %>

      <!-- Divider container -->
      <div class="h-full py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">

        <!-- name -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="name" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t :name %>
            </label>
          </div>
          <div class="sm:col-span-2">
            <%= form.text_field :name, 
              required: true, 
              data: { "form-target" => 'focus' },
              class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:name).map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>


        <!-- employer -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="employer" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t :employer %>
            </label>
          </div>
          <div class="sm:col-span-2">
            <%= participant_form.text_field :employer, 
              required: true, 
              data: { "form-target" => 'focus' },
              class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:employer).map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>


        <!-- job_title -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="job_title" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t :job_title %>
            </label>
          </div>
          <div class="sm:col-span-2">
            <%= participant_form.text_field :job_title, 
              required: true, 
              data: { "form-target" => 'focus' },
              class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:job_title).map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>



      </div>

      <%= render_component "action_button", resource: resource, delete_url: resource_url(resource), deleteable: (resource != current_user && !resource.new_record?) %>

    </div>
  <% end %>
<% end %>

