<%= form_with(model: punch_clock) do |form| %>
  <% if punch_clock.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(punch_clock.errors.count, "error") %> prohibited this punch_clock from being saved:</h2>

      <ul>
        <% punch_clock.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :ip_addr, style: "display: block" %>
    <%= form.text_field :ip_addr %>
  </div>

  <div>
    <%= form.label :last_punch_at, style: "display: block" %>
    <%= form.datetime_field :last_punch_at %>
  </div>

  <div>
    <%= form.label :deleted_at, style: "display: block" %>
    <%= form.datetime_field :deleted_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
