<div id="<%= dom_id punch_clock %>">
  <p>
    <strong>Location:</strong>
    <%= punch_clock.location %>
  </p>

  <p>
    <strong>Ip addr:</strong>
    <%= punch_clock.ip_addr %>
  </p>

  <p>
    <strong>Last punch at:</strong>
    <%= punch_clock.last_punch_at %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= punch_clock.deleted_at %>
  </p>

</div>
