<p style="color: green"><%= notice %></p>

<%= render @punch_clock %>

<div>
  <%= link_to "Edit this punch clock", edit_punch_clock_path(@punch_clock) %> |
  <%= link_to "Back to punch clocks", punch_clocks_path %>

  <%= button_to "Destroy this punch clock", @punch_clock, method: :delete %>
</div>
