<%= turbo_frame_tag resource_form do %>
  <%= form_with(model: resource) do |form| %>
    <!--
                <% if resource.errors.any? %>
                  <div style="color: red">
                    <h2><%= pluralize(resource.errors.count, "error") %> prohibited this calendar from being saved:</h2>

                    <ul>
                      <% resource.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                <div>
                  <%= form.label :name, style: "display: block" %>
                  <%= form.text_field :name %>
                </div>
    -->
    <div
      data-controller="resource--input-calendar-component"
      data-resource--input-calendar-component-rrule-value="<%= @schedules %>"
      data-resource--input-calendar-component-dtstart-value="<%= @start_date %>"
      data-resource--input-calendar-component-dtend-value="<%= @end_date %>"
      class="space-y-1 px-4 sm:space-y-0  sm:px-6 sm:py-5">
      <div class="mt-10 text-center lg:col-start-8 lg:col-end-13 lg:row-start-1 lg:mt-9 xl:col-start-9">
        <input type="hidden", data-resource--input-calendar-component-target="input" />
        <div class="flex items-center text-gray-900">
          <%= link_to edit_resource_url(start_date: (@start_date - 10.days)), class: "-m-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500" do %>
            <span class="sr-only">Previous month</span>
              <!-- Heroicon name: mini/chevron-left -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
            </svg>
          <% end %>
          <%# <button type="button" class="-m-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500">
          </button> %>
          <div class="flex-auto font-semibold">
            <%= l (@start_date + 10.days), format: :month_name %>
          </div>
          <%= link_to edit_resource_url( start_date: (@end_date + 10.days)), class: "-m-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500" do %>
            <span class="sr-only">Next month</span>
            <!-- Heroicon name: mini/chevron-right -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
            </svg>
          <% end %>
          <%# <button type="button" class="-m-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500">
          </button> %>
        </div>
        <div class="mt-6 grid grid-cols-8 text-xs leading-7 text-gray-500">
          <% ndx=0 %>
          <div class="cursor-pointer"
            data-action="click->resource--input-calendar-component#toggleAllDays" 
            data-range="all"
            data-range-index="<%= ndx %>" 
            data-range-date="<%= @start_date %>"
            data-resource--input-calendar-component-target="month"
            >U</div>
          <% weekdays(true).each do |weekday| %>
            <div class="cursor-pointer"
              data-action="click->resource--input-calendar-component#toggleWeekDay" 
              data-range="weekday"
              data-range-index="<%= ndx=ndx+1 %>" 
              data-range-date="<%= @start_date + (ndx-1).days %>"
              data-resource--input-calendar-component-target="weekday" >
              <%= weekday %>
            </div>
          <% end %>
        </div>
        <div class="isolate mt-2 grid grid-cols-8 gap-px rounded-lg bg-gray-200 text-sm shadow ring-1 ring-gray-200">
          <% ndx=8; week=0;day=@start_date; while day < (@end_date + 1.day) do %>
            <% if (ndx % 8 == 0) %>
              <!-- Week -->
              <% week = week + 1 %>
              <button 
                data-action="resource--input-calendar-component#toggleWeek" 
                data-range="week" 
                data-range-index="<%= ndx %>"
                data-range-date="<%= day %>"
                data-resource--input-calendar-component-target="week" 
                type="button" 
                class="<%= day_classes week %> bg-gray-100 border-r border-r-gray-300 py-1.5 text-gray-400 hover:bg-gray-100 focus:z-10">
                <time datetime="<%= l day, format: :short_iso %>" class="<%= time_classes day %> mx-auto flex h-7 w-7 items-center justify-center rounded-full">
                  <%= week_number day, (week=week+1), @week_planning %>
                </time>
              </button>
              <% ndx=ndx+1 %>
            <% end %>

            <button 
              data-action="resource--input-calendar-component#toggleDay" 
              data-range="day" 
              data-range-index="<%= ndx %>"
              data-range-date="<%= day %>"
              data-resource--input-calendar-component-target="day" 
              type="button" 
              class=" bg-gray-50 py-1.5 text-gray-400 hover:bg-gray-100 focus:z-10">
              <time  datetime="<%= l day, format: :short_iso %>" class="mx-auto flex h-7 w-7 items-center justify-center rounded-full">
                <%= day_number day, @week_planning %>
              </time>
            </button>
            <% ndx=ndx+1; day=day + 1.day %>

          <% end  %>
        </div>
        <div class="mt-6 grid grid-cols-8 text-xs ">
          <button 
            type="button" 
            data-action="click->resource--input-calendar-component#clearAll" 
            class="mt-3 col-span-2 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-2 py-2  text-gray-400 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-0 sm:w-auto sm:text-sm">
            <%= t "clear_all_calendar" %>
          </button>
          <!-- <button 
            type="submit" 
            data-action="click->resource--input-calendar-component#clearAll" 
            class="mt-3 col-start-7 col-span-2 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2  text-gray-400 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
            <%= t "save_calendar" %>
          </button> -->
        </div>


        <div id="calendar_event_modal" 
          class="hidden relative z-20" 
          aria-labelledby="modal-title" 
          role="dialog" 
          data-resource--input-calendar-component-target="modal"
          aria-modal="true">
          
          <!--
            Background backdrop, show/hide based on modal state.

            Entering: "ease-out duration-300"
              From: "opacity-0"
              To: "opacity-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100"
              To: "opacity-0"
          -->
          <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

          <div class="fixed inset-0 z-10 overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
              <!--
                Modal panel, show/hide based on modal state.

                Entering: "ease-out duration-300"
                  From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                  To: "opacity-100 translate-y-0 sm:scale-100"
                Leaving: "ease-in duration-200"
                  From: "opacity-100 translate-y-0 sm:scale-100"
                  To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              -->
              <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                  <div class="">
                    <div class="mt-3 sm:mt-0 sm:ml-4 grid gap-2 sm:grid-cols-1 md:grid-cols-2">

                      <div class="col-span-1">
                        <label for="from_at" class="block text-sm font-medium text-gray-700">from</label>
                        <div class="relative mt-1 rounded-md shadow-sm">
                          <input type="time" name="from_at" id="from_at" class="block w-full rounded-md border-gray-100 pr-10 text-gray-700 placeholder-red-300 focus:border-gray-300 focus:outline-none focus:ring-gray-300 sm:text-sm" aria-invalid="true" aria-describedby="email-error">
                          <!--<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                            <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                            </svg>
                          </div>-->
                        </div>
                        <p class="mt-2 text-sm text-red-600" id="email-error"></p>
                      </div>
                      <div class="col-span-1">
                        <label for="to_at" class="block text-sm font-medium text-gray-700">to</label>
                        <div class="relative mt-1 rounded-md shadow-sm">
                          <input type="time" name="to_at" id="to_at" class="block w-full rounded-md border-gray-100 pr-10 text-gray-700 placeholder-red-300 focus:border-gray-300 focus:outline-none focus:ring-gray-300 sm:text-sm" aria-invalid="true" aria-describedby="email-error">
                          <!--<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                            <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                            </svg>
                          </div>-->
                        </div>
                        <p class="mt-2 text-sm text-red-600" id="email-error"></p>
                      </div>

                      <!--
                        This example requires some changes to your config:
                        
                        ```
                        // tailwind.config.js
                        module.exports = {
                          // ...
                          plugins: [
                            // ...
                            require('@tailwindcss/forms'),
                          ],
                        }
                        ```
                      -->
                      <fieldset class="col-span-2">
                        <legend class="text-lg font-medium text-gray-900">Status</legend>
                        <div class="mt-4 divide-y divide-gray-200 border-t border-b border-gray-200">
                          <div class="relative flex items-start py-4">
                            <div class="min-w-0 flex-1 text-sm">
                              <label for="side-null" class="select-none font-medium text-gray-700">Ikke valgt</label>
                            </div>
                            <div class="ml-3 flex h-5 items-center">
                              <input id="side-null" name="plan" type="radio" checked class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                            </div>
                          </div>

                          <div class="relative flex items-start py-4">
                            <div class="min-w-0 flex-1 text-sm">
                              <label for="side-1" class="select-none font-medium text-gray-700">Arbejde</label>
                            </div>
                            <div class="ml-3 flex h-5 items-center">
                              <input id="side-1" name="plan" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                            </div>
                          </div>

                          <div class="relative flex items-start py-4">
                            <div class="min-w-0 flex-1 text-sm">
                              <label for="side-2" class="select-none font-medium text-gray-700">Fri</label>
                            </div>
                            <div class="ml-3 flex h-5 items-center">
                              <input id="side-2" name="plan" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                            </div>
                          </div>

                          <div class="relative flex items-start py-4">
                            <div class="min-w-0 flex-1 text-sm">
                              <label for="side-3" class="select-none font-medium text-gray-700">Ferie</label>
                            </div>
                            <div class="ml-3 flex h-5 items-center">
                              <input id="side-3" name="plan" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                            </div>
                          </div>

                          <div class="relative flex items-start py-4">
                            <div class="min-w-0 flex-1 text-sm">
                              <label for="side-4" class="select-none font-medium text-gray-700">Syg</label>
                            </div>
                            <div class="ml-3 flex h-5 items-center">
                              <input id="side-4" name="plan" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                            </div>
                          </div>

                          <div class="relative flex items-start py-4">
                            <div class="min-w-0 flex-1 text-sm">
                              <label for="side-5" class="select-none font-medium text-gray-700">Omsorg</label>
                            </div>
                            <div class="ml-3 flex h-5 items-center">
                              <input id="side-5" name="plan" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                  <button 
                    type="submit" 
                    data-action="click->resource--input-calendar-component#saveModal" 
                    class="inline-flex w-full justify-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">Save</button>
                  <button 
                    type="button" 
                    data-action="click->resource--input-calendar-component#cancelModal" 
                    class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  <% end %>
<% end %>
