<div 
  class="max-w-full lg:max-w-screen-2xl mx-auto sm:px-6 lg:px-8" 
  data-controller="tabs"  
  data-action="speicherMessage@window->tabs#handleMessages"
  data-tabs-active-tab="border-indigo-500 text-indigo-600" >
  <%= render_component "resource/show_header", 
      title: resource.name, 
      breadcrumbs: @breadcrumbs, 
      current: Current, 
      tabs: [ 
        {id: "info_tab", url: "#info", label: t('.info'), action: "click->tabs#change" },
        {id: "stock_items_tab", url: stocked_product_stock_items_url(resource), label: t('.stock_items'), action: "click->tabs#change" },
        {id: "stock_item_transactions_tab", url: stocked_product_stock_item_transactions_url(resource), label: t('.stock_item_transactions'), action: "click->tabs#change" }
      ] do %>
    <div class="md:mt-7 justify-end flex">
      <div class="w-full">
        <%= form_with url: "", method: :get, data: { turbo_frame: resources_target, turbo_action: 'advance' } do |form| %>
          <%= search_field name: :q, value: params[:q], component_method: "search#keydownHandler" %>
        <% end %>
      </div>

      <div class="ml-4 mt-1 shrink-0">
        <%#= link_to t("#{resource_class}.new_button"), link_to_new_location_stock_item_url(resource), class: "button new-button inline-block select-none", data: { form_sleeve_target: "button", action: "click->extended-slideover#toggle", 'turbo-frame': 'form_slideover' } %>
      </div>
      <%# <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Share</button> %>
      
    </div>


  <% end %>
  <div id="info_tab" class="hidden py-4 px-4 " data-tabs-target="panel">

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900"><%= t '.stocked_product' %></h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500"><%= t '.stocked_product.description' %></p>
      </div>
      <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.name' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= resource.name %></dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.product' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= link_to resource.product.name, product_url(resource.product) %></dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.stock_name' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= link_to resource.stock.name, stock_url(resource.stock) %></dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.stock_location_name' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= collect_stock_locations(resource) %></dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.quantity_pallets' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= resource.nbr_pallets %> <%= t('.pallets') %> </dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.quantity_unit' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= resource.quantity %> <%#= resource.unit %> </dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.created_at' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= display_time resource.created_at, Current.user %> </dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500"><%= t '.updated_at' %></dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= display_time resource.updated_at, Current.user %> </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div id="stock_items_tab" class="hidden shadow overflow-hidden border-b border-gray-200 sm:rounded-lg" data-tabs-target="panel">
    <%= turbo_stream_from "stock_items"  %>
    <%= turbo_frame_tag "stock_items", loading: "lazy", src: stocked_product_stock_items_url(resource) do %>
      <%= t('loading') %>
    <% end %>
  </div>

  <div id="stock_item_transactions_tab" class="hidden shadow overflow-hidden border-b border-gray-200 sm:rounded-lg" data-tabs-target="panel">
    <%= turbo_stream_from "stock_item_transactions"  %>
    <%= turbo_frame_tag "stock_item_transactions", loading: "lazy", src: stocked_product_stock_item_transactions_url(resource) do %>
      <%= t('loading') %>
    <% end %>
  </div>
</div>
