<th scope="col" class="hidden sm:table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
  <%= table_header_checkbox  %>
</th>
<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
  <%= sort_link_to t('.klass'), :klass, data: { turbo_action: "advance"} %>
</th>
<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
  <%= sort_link_to t('.schedule'), :schedule, data: { turbo_action: "advance"} %>
</th>
<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
  <%= sort_link_to t('.next_run_at'), :next_run_at, data: { turbo_action: "advance"} %>
</th>
<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
  <%= sort_link_to t('.job_id'), :job_id, data: { turbo_action: "advance"} %>
</th>
<th scope="col" class="relative px-6 py-3">
  <span class="sr-only">Edit</span>
</th>
