<%= form_with model: resource, url: url_for(resource.eventable), id: resource_form, data: { form_sleeve_target: 'form' }, class: "h-full flex flex-col bg-white shadow-xl overflow-y-scroll" do |form| %>
  <%= form.fields_for :eventable do |work_schedule_form| %>
    <%= form.hidden_field :account_id, value: current_account.id %>
    <%= form.hidden_field :eventable_type, value: "WorkSchedule" %>
    <div class="flex-1 relative "
      data-controller="form"
      data-action="keydown->form#keydownHandler speicherMessage@window->form#handleMessages"    
      >
      <!-- Header -->
      <%= render_component "resource/form_header", resource: resource, title: form_header_title, description: form_header_description %>

      <!-- Divider container -->
      <div class="h-full py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">

        <!-- Name -->
        <%= render_component "resource/input_string", form: form, field: :name, resource: resource, title: t('.name'), focus: true, required: true %>

        <!-- first- and last-occurence -->
        <div
          data-controller="resource--input-string-component"
          class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="<%= @field.to_s %>" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t('.dtstart_dtend') %>
            </label>
          </div>
          <div class="sm:col-span-1">
            <%= form.date_field :first_occurence, 
              required: true, 
              class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:first_occurence).map( &:full_message).join( "og ") %>
            </div>
          </div>
          <div class="sm:col-span-1">
            <%= form.date_field :last_occurence, 
              required: true, 
              class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:last_occurence).map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>

        <!-- roll -->
        <%= render_component "resource/input_boolean", form: work_schedule_form, field: :roll, resource: resource, title: t('.roll') %>

        <!-- start- and end-minute -->
        <div
          data-controller="resource--input-string-component"
          class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="<%= @field.to_s %>" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t('.start_end_minute') %>
            </label>
          </div>
          <div class="sm:col-span-1">
            <%= form.text_field :start_minute, 
              required: true, 
              type: :time,
              class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:first_occurence).map( &:full_message).join( "og ") %>
            </div>
          </div>
          <div class="sm:col-span-1">
            <%= form.text_field :end_minute, 
              required: true, 
              type: :time,
              class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:end_minute).map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>

        <!-- Calendar rrule -->
        <%= render_component "resource/input_calendar", form: form, field: :rrule, resource: resource, title: t('.rrule'), start_date: resource.first_occurence %>

      </div>
    </div>
  <% end %>


  <%= render_component "action_button", resource: resource, delete_url: resource_url(resource.eventable), deleteable: true %>

<% end %>
