<div id="<%= dom_id role %>">
  <p>
    <strong>Account:</strong>
    <%= role.account_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= role.name %>
  </p>

  <p>
    <strong>Ancestry:</strong>
    <%= role.ancestry %>
  </p>

  <p>
    <strong>Context:</strong>
    <%= role.context %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= role.position %>
  </p>

  <p>
    <strong>State:</strong>
    <%= role.state %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= role.role %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= role.deleted_at %>
  </p>

</div>
