<%= form_with model: resource, url: resource_url, id: resource_form, data: { form_sleeve_target: 'form' }, class: "h-full flex flex-col bg-white shadow-xl overflow-y-scroll" do |form| %>

  <div class="flex-1 relative "
    data-controller="form"
    data-action="keydown->form#keydownHandler speicherMessage@window->form#handleMessages"  
    >
    <!-- Header -->
    <%= render_component "resource/form_header", resource: resource, title: form_header_title, description: form_header_description %>

    <!-- Divider container -->
    <div class="h-full py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">


      <!-- Name -->
      <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
        <div>
          <label for="name" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
            <%= t ".name" %>
          </label>
        </div>
        <div class="sm:col-span-2">
          <%= form.text_field :name, 
            required: true, 
            data: { "form-target" => "focus" },
            class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
          <div class="text-sm text-red-800" >
            <%= form.object.errors.where(:name).map( &:full_message).join( "og ") %>
          </div>
        </div>
      </div>

      <!-- Layout -->
      <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
        <div>
          <label for="layout" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
            <%= t ".layout" %>
          </label>
        </div>
        <div class="sm:col-span-2">
          <%= form.text_field :layout, required: true, class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
          <div class="text-sm text-red-800" >
            <%= form.object.errors.where(:layout).map( &:full_message).join( "og ") %>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
        <div>
          <label for="body" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
            <%= t ".body" %>
          </label>
        </div>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <%= form.text_area :body, rows: 10, class: "max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border border-gray-300 rounded-md" %>
          <div class="text-sm text-red-800" >
            <%= form.object.errors.where(:body).map( &:full_message).join( "og ") %>
          </div>

        </div>
      </div>      

    </div>

    <%= render_component "action_button", resource: resource, delete_url: resource_url(resource), deleteable: !resource.new_record? %>

  </div>
  
<% end %>
