<%= render_form( resource: resource) do |form| %>
  <%= form.hidden_field form: form, field: :account_id, value: current_account.id %>
  <%= form.hidden_field form: form, field: :eventable_type, value: "AssetWorkTransaction" %>
  <div class="flex-1 relative" 
    data-controller="form" 
    data-form-form-sleeve-outlet="#form-sleeve" 
    data-form-list-outlet="#list"
    data-action="keydown->form#keydownHandler speicherMessage@window->form#handleMessages" 
    >
    <%= form.fields_for( :eventable, resource.eventable ) do |assoc_form| %>
      <%= render_form_header( resource: resource, title: form_header_title, description: form_header_description ) %>
      <%= render_form_errors(resource: resource) if resource.errors.size > 0 %>

      <!-- Divider container -->
      <div class="h-full py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200" >
        <!-- Name - not applicable on punches; set to AWT always -->
        <%#= render_form_text_field( resource: resource, form: form, field: :name, title: t('.name'), focus: true, required: true) %>

        <!-- punch_asset_ip_addr - not applicable on adds/edits; always set to reqquest.remote_ip -->
        <%#= render_form_text_field( resource: resource.eventable, form: assoc_form, field: :punch_asset_ip_addr, title: t('.punch_asset_ip_addr')) %>

        <!-- punched_at (date) -->
        <%= assoc_form.datetime_field( resource: resource, field: :punched_at, required: true) %>
        <%#= render_component "resource/input_date", form: assoc_form, field: :punched_at, resource: resource, title: t('.punched_at'), required: true %>

        <!-- reason -->
        <%= assoc_form.text_field( resource: resource, field: :reason, title: t('.reason')) %>

        <!-- minutes_spent - not applicable on adds/edits -->
        <%#= render_form_text_field(resource: resource, form: form, field: :minutes_spent, title: t('.minutes_spent'), required: true) %>

        <!-- state -->
        <%= form.text_field( resource: resource, field: :state, title: t('.state'), required: true ) %>
      </div>
    <% end %>
  </div>
  <%= render_form_action_buttons resource: resource, delete_url: resource_url(), deleteable: !resource.new_record? %>
<% end %>
