<%= form_with(model: stock_item) do |form| %>
  <% if stock_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(stock_item.errors.count, "error") %> prohibited this stock_item from being saved:</h2>

      <ul>
        <% stock_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :stock_id, style: "display: block" %>
    <%= form.text_field :stock_id %>
  </div>

  <div>
    <%= form.label :stocked_product_id, style: "display: block" %>
    <%= form.text_field :stocked_product_id %>
  </div>

  <div>
    <%= form.label :stocked_location_id, style: "display: block" %>
    <%= form.text_field :stocked_location_id %>
  </div>

  <div>
    <%= form.label :batch_number, style: "display: block" %>
    <%= form.text_field :batch_number %>
  </div>

  <div>
    <%= form.label :expire_at, style: "display: block" %>
    <%= form.datetime_field :expire_at %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :batch_unit, style: "display: block" %>
    <%= form.text_field :batch_unit %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
