<turbo-stream target="account_<%= account_id %>_services" action="replace">
  <template>
    <div id="account_<%= account_id %>_services">
      <% Account.find(account_id).services.each do |service| %>

        <a href="<%= service.index_url %>" class="text-gray-700 hover:bg-gray-300 group flex items-center px-2 py-2 <%= @text %> font-medium rounded-md">
          <%= raw service.menu_icon %>
          <%= service.menu_label %>
        </a>

      <% end %>
    </div>
  </template>
</turbo-stream>
