<div 
  data-controller="search"
  class="shadow overflow-hidden overflow-x-auto border-b border-gray-200 sm:rounded-lg">
  <%= turbo_frame_tag resources_target do %>

    <%#= render_component "element/search_and_button" %>

    <%= render_search_filter %>
    <table 
      id="list"
      data-controller="list flag pagination" 
      data-list-form-sleeve-outlet="#form-sleeve"
      data-list-url-value="<%= resources_url %>"
      data-pagination-url-value="<%= resources_url %>"
      data-pagination-page-value="<%= 2 %>"
      data-action="scroll@window->pagination#scroll keydown->list#keydownHandler keyup->list#keyupHandler speicherMessage@window->list#handleMessages speicherMessage@window->flag#handleMessages"
      class="min-w-full max-w-full lg:max-w-screen-2xl divide-y bg-gray-50 divide-gray-200"
      >

      <thead class="bg-gray-50">
        <tr id="tr-action-buttons" class="collapse" colspan="99">
          <th>&nbsp;</th>
          <th class=""><%= render_component "element/action_button" %></th>
        </tr>
        <tr>
          <%= render partial: "index_columns", locals: {resource: resource} %>
        </tr>
      </thead>

      <tbody id="<%= resource_class.to_s.underscore %>_list" class="bg-white divide-y divide-gray-200" >
        <% resources.each do |rec| %>
          <%= render partial: resource_class.to_s.underscore, locals: { resource: rec, user: Current.user } %>
        <% end if resources %>
        <%= more_records? %>
      </tbody>

      <tfoot id="pagination_foot" class="bg-gray-50 pl-4 pr-4 z-10 <%= @pagy.nil? ? "h-10" : ""%>">
        <tr>
          <td data-pagination-target="pagy" class="pl-4 pr-4" colspan=99><%== pagy_nav(@pagy) %></td>
        </tr>
        <tr>
          <td class="pl-4 pr-4 text-center" colspan=99><%== pagy_info(@pagy, i18n_key: "activerecord.models.#{resource_name}" ) %></td>
        </tr>
      </tfoot>
      
    </table>


  <% end %>
</div>
