<%# - %>
<%# used for infinite vertical scroll on controller index actions %>
<%# --- %>
<%= turbo_stream.remove "spinner" %>
<%= turbo_stream.append "#{resource_class.to_s.underscore}_list" do %>
  <% resources.each do |rec| %>
    <%= render partial: resource_class.to_s.underscore, locals: { resource: rec, user: Current.user } %>
  <% end if resources %>
  <% unless (((params[:page].to_i + 1) rescue 1) < @pagy.pages) %>
    <tr class="hidden" data-pagination-target="noRecords"><td> <%= t("no_more_records") %></td></tr>
  <% end %>
<% end %>
<%= turbo_stream.replace "pagination_foot" do %>
  <tfoot id="pagination_foot" class="bg-gray-50 pl-4 pr-4 z-10">
    <tr>
      <td data-pagination-target="pagy" class="pl-4 pr-4" colspan=10><%== pagy_nav(@pagy) %></td>
    </tr>
    <tr>
      <td class="pl-4 pr-4 text-center" colspan=10><%== pagy_info(@pagy, i18n_key: "activerecord.models.#{resource_name}" ) %></td>
    </tr>
  </tfoot>
<% end %>
