<turbo-stream target="<%= params[:lookup_target] %>" action="replace">
  <template>
    <div 
      class="flex overflow-y-auto h-40 max-h-40 w-full"
      id="<%= params[:lookup_target] %>"
      data-<%= params[:stimulus_controller] %>-target="<%= params[:stimulus_lookup_target] %>">
      <ul 
        id="<%= params[:lookup_target] %>_ul" 
        class="absolute h-40 max-h-40 z-10 my-1 justify-center w-full bg-white shadow-lg rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
        <% if params[:add]=="true" && params[:q]!="*" %>
          <% resource = resource_class.new id: 0, name: params[:q] %>
          <%= render partial: "lookup", locals: { resource: resource, values: @values, add: 'true' } %>
        <% end %>
        <% resources.each do |resource| %>
          <%= render partial: "lookup", locals: { resource: resource, values: @values, add: '' } %>
        <% end %>
        <!-- More items... -->
      </ul>
    </div>
  </template>
</turbo-stream>
