<%= form_with model: resource, url: url_for(resource.assetable), id: resource_form, data: { form_sleeve_target: 'form' }, class: "h-full flex flex-col bg-white shadow-xl overflow-y-scroll" do |form| %>
  <%= form.fields_for :assetable do |asset_form| %>
    <%= form.hidden_field :account_id, value: current_account.id %>
    <%= form.hidden_field :assetable_type, value: "Product" %>
    <div class="flex-1 relative "
      data-controller="form"
      data-form-form-sleeve-outlet="#form-sleeve"
      data-form-list-outlet="#list"
      data-action="keydown->form#keydownHandler speicherMessage@window->form#handleMessages"    
      >
      <!-- Header -->
      <%= render_component "resource/form_header", resource: resource, title: form_header_title, description: form_header_description %>

      <!-- Divider container -->
      <div class="h-full py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">

        <!-- Name -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="name" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t ".name" %>
            </label>
          </div>
          <div class="sm:col-span-2">
            <%= form.text_field :name, 
              required: true, 
              data: { "form-target" => "focus" },
              class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:name).map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>

        <!-- Supplier_id --
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="supplier_id" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%#= t :supplier_id %>
            </label>
          </div>
          <div class="sm:col-span-2">
            <%#= asset_form.hidden_field :supplier_id, value: asset_form.object.supplier_id || Supplier.first.id %>
            <div class="text-sm text-red-800" >
              <%#= form.object.errors.where(:supplier_id).map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div> -->


        <!--  Supplier_id -->
        <div class="px-4 divide-y divide-gray-200 pt-8 space-y-6 sm:pt-10 sm:space-y-5">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900"><%= t(".supplier_title") %></h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500"><%= t(".supplier_description") %></p>
            <div class="pt-6 sm:pt-5">
              <%= render_component "resource/combo", form: asset_form, attr: :supplier_id, label: t('.supplier'), type: :single_drop_search, url: "/suppliers" %>
            </div>
            <div class="text-sm text-red-800" >
              <%= form.object.errors.where(:supplier_id).map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>

        <!-- Supplier_barcode -->
        <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <div>
            <label for="supplier_barcode" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
              <%= t ".supplier_barcode" %>
            </label>
          </div>
          <div class="sm:col-span-2">
            <%= asset_form.text_field :supplier_barcode, required: true, class: "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" %>
            <div class="text-sm text-red-800" >
              <%= resource.errors.where(:supplier_barcode).map( &:full_message).join( "og ") %>
            </div>
          </div>
        </div>

      </div>
    </div>
  <% end %>


  <%= render_component "action_button", resource: resource, delete_url: resource_url(resource.assetable), deleteable: !resource.new_record? %>

<% end %>
