<%= render_form( resource: resource, assoc: :assetable, 
  # clipboard_prefix: (resource.new_record? ? nil : equipment_url(resource.assetable))
  ) do |form| %> 

  <%= render_form_header( resource: resource, title: form_header_title, description: form_header_description ) %>
  <%= render_form_errors(resource: resource) if resource.errors.size > 0 %>

  <!-- Divider container -->
  <div class="h-full py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">

    <!-- Name -->
    <%= form.text_field( :name, required: true, focus: true ) %>

    <%= form.text_field( :long_lat, assoc: :assetable ) %>


  </div>

  <%= render_component "action_button", resource: resource, delete_url: resource_url(resource.assetable), deleteable: !resource.new_record? %>

<% end %>
