<!DOCTYPE html>
<html  lang="<%= I18n.locale %>" class="h-full bg-white">
  <head>
    <title>S P E I C H E R</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# once we're ready for importmap - edit config/importmaps.rb %>
    <%# 1. edit config/importmaps.rb %>
    <%# 2. uncomment this line = javascript_importmap_tags %>

    <%= yield :head %>
    <% if Rails.env.development? %>
      <%= javascript_include_tag "hotwire-livereload", defer: true %>
    <% end %>
  </head>

  <!-- application.html.erb -->
  <body id="switchboard" data-controller="switchboard" class="h-full">
    <div class="min-h-full">
      <%= turbo_stream_from Current.account, :account %>
      <%= turbo_frame_tag 'menus', target: '_top' do %>        

        <!-- navigation/mobile_sidebar component: Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
        <%= render_component "navigation/mobile_sidebar", current: Current %>

        <!-- navigation/sidebar component: Static sidebar for desktop -->
        <%= render_component "navigation/sidebar", current: Current %>
      <% end %>

      <!-- Main part -->
      <div class="lg:pl-64 flex flex-col flex-1">
        <!-- Topbar header -->
        <div class="lg:hidden">

          <!-- navigation/topbar component: Mobile topbar -->
          <%= render_component "navigation/topbar", current: Current, placeholder: t('search') %>
        </div>

        <main id="main" class="flex-1">
          <!-- main yield -->
          <%= yield %>  
        </main>
      </div>
    </div>

    <!-- form_slideover component: Slide-over panel, show/hide based on slide-over state. -->
    <%= turbo_frame_tag 'form_slideover' do %>
      <!-- resource/form component: Component for rendering new/edit forms -->
      <%= render_component "resource/form" %>
    <% end %>

    <!-- Container for modals -->
    <div id="modal_content"></div>

    <%= render partial: "shared/takiro", locals: {size: 'phone'} %>
    <%= render partial: "shared/notifications" %>

    <!-- Container for unauthorized messages -->
    <div id="unauthorized"></div>

  </body>
</html>