<!DOCTYPE html>
<html>
  <head>
    <title>S P E I C H E R</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= yield :head %>
    <% if Rails.env.development? %>
      <%= javascript_include_tag "hotwire-livereload", defer: true %>
    <% end %>
  </head>

  <body 
    id="switchboard" 
    data-controller="switchboard"
    class="h-full">
    <div class="min-h-full">
      <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
      <%= render_component "navigation/mobile_sidebar", current: Current %>

      <!-- Main column -->
      <div class="lg:pl-64 flex flex-col">
        <!-- Search header -->
        <%= render_component "navigation/topbar", current: Current, placeholder: "Søg" %>
        <main class="flex-1">
          <%= yield %>
        </main>
      </div>
    </div>

    <%= turbo_frame_tag 'form_slideover' do %>
      <%= render_component "resource/form"
      # Resource::FormComponent.new 
      %>
    <% end %>

    <div id="modal_content"></div>

    <%= render partial: "shared/takiro", locals: {size: 'phone'} %>
    <%= render partial: "shared/notifications" %>
    <div id="unauthorized"></div>
  </body>
</html>
