<div id="<%= dom_id account %>">
  <p>
    <strong>Dashboard:</strong>
    <%= account.dashboard_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>State:</strong>
    <%= account.state %>
  </p>

  <p>
    <strong>Calender:</strong>
    <%= account.calender_id %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= account.deleted_at %>
  </p>

</div>
