<div id="<%= dom_id asset_workday_sum %>">
  <p>
    <strong>Account:</strong>
    <%= asset_workday_sum.account_id %>
  </p>

  <p>
    <strong>Asset:</strong>
    <%= asset_workday_sum.asset_id %>
  </p>

  <p>
    <strong>Work date:</strong>
    <%= asset_workday_sum.work_date %>
  </p>

  <p>
    <strong>Work minutes:</strong>
    <%= asset_workday_sum.work_minutes %>
  </p>

  <p>
    <strong>Break minutes:</strong>
    <%= asset_workday_sum.break_minutes %>
  </p>

  <p>
    <strong>Ot1 minutes:</strong>
    <%= asset_workday_sum.ot1_minutes %>
  </p>

  <p>
    <strong>Ot2 minutes:</strong>
    <%= asset_workday_sum.ot2_minutes %>
  </p>

  <p>
    <strong>Sick minutes:</strong>
    <%= asset_workday_sum.sick_minutes %>
  </p>

  <p>
    <strong>Free minutes:</strong>
    <%= asset_workday_sum.free_minutes %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= asset_workday_sum.deleted_at %>
  </p>

</div>
