<%= form_with(model: asset_workday_sum) do |form| %>
  <% if asset_workday_sum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(asset_workday_sum.errors.count, "error") %> prohibited this asset_workday_sum from being saved:</h2>

      <ul>
        <% asset_workday_sum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :account_id, style: "display: block" %>
    <%= form.text_field :account_id %>
  </div>

  <div>
    <%= form.label :asset_id, style: "display: block" %>
    <%= form.text_field :asset_id %>
  </div>

  <div>
    <%= form.label :work_date, style: "display: block" %>
    <%= form.date_field :work_date %>
  </div>

  <div>
    <%= form.label :work_minutes, style: "display: block" %>
    <%= form.number_field :work_minutes %>
  </div>

  <div>
    <%= form.label :break_minutes, style: "display: block" %>
    <%= form.number_field :break_minutes %>
  </div>

  <div>
    <%= form.label :ot1_minutes, style: "display: block" %>
    <%= form.number_field :ot1_minutes %>
  </div>

  <div>
    <%= form.label :ot2_minutes, style: "display: block" %>
    <%= form.number_field :ot2_minutes %>
  </div>

  <div>
    <%= form.label :sick_minutes, style: "display: block" %>
    <%= form.number_field :sick_minutes %>
  </div>

  <div>
    <%= form.label :free_minutes, style: "display: block" %>
    <%= form.number_field :free_minutes %>
  </div>

  <div>
    <%= form.label :deleted_at, style: "display: block" %>
    <%= form.datetime_field :deleted_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
