<p style="color: green"><%= notice %></p>

<%= render @asset_workday_sum %>

<div>
  <%= link_to "Edit this asset workday sum", edit_asset_workday_sum_path(@asset_workday_sum) %> |
  <%= link_to "Back to asset workday sums", asset_workday_sums_path %>

  <%= button_to "Destroy this asset workday sum", @asset_workday_sum, method: :delete %>
</div>
