<th scope="col" class="hidden sm:table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
  <%= table_header_checkbox  %>
</th>
<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
  <%= sort_link_to t('.name'), :name, data: { turbo_action: "advance"} %>
</th>
<th scope="col" class="hidden sm:table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
  <%= sort_link_to t('.system_key'), :system_key, data: { turbo_action: "advance"} %>
</th>
<th scope="col" class="hidden sm:table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
  <%= sort_link_to t('.position'), :position, data: { turbo_action: "advance"} %>
</th>
<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
  <%= sort_link_to t('.value'), :value, data: { turbo_action: "advance"} %>
</th>
<th scope="col" class="relative px-6 py-3">
  <span class="sr-only">Edit</span>
</th>
